
BODY {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: right top; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
BODY {
	FONT-SIZE: 12px; LINE-HEIGHT: 20px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
DIV {
	FONT-SIZE: 12px;
	LINE-HEIGHT: 20px;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
}
TD {
	FONT-SIZE: 12px; LINE-HEIGHT: 20px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
A {
	FONT-FAMILY: arial
}
INPUT {
	FONT-SIZE: 12px; FONT-FAMILY: arial
}
SELECT {
	FONT-SIZE: 12px; FONT-FAMILY: arial
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
IMG {
	BORDER-TOP-WIDTH: 0px;
	BORDER-LEFT-WIDTH: 0px;
	BORDER-BOTTOM-WIDTH: 0px;
	BORDER-RIGHT-WIDTH: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
}
.ceng {
	POSITION: relative
}
.clear {
	CLEAR: both
}
.red {
	COLOR: #f00
}
A.red {
	COLOR: #f00
}
.org {
	COLOR: #ff9900
}
A.org {
	COLOR: #ff9900
}
.orgred {
	COLOR: #ff6600
}
A.orgred {
	COLOR: #ff6600
}
.black {
	COLOR: #000
}
A.black {
	COLOR: #000
}
.yel {
	COLOR: #ffff00
}
A.yel {
	COLOR: #ffff00
}
.white {
	COLOR: #ffffff
}
A.white {
	COLOR: #ffffff
}
.gray {
	COLOR: #666
}
A.gray {
	COLOR: #666
}
.purple {
	COLOR: #b05a7d
}
A.purple {
	COLOR: #b05a7d
}
.f14 {
	FONT-SIZE: 14px
}
A.f14 {
	FONT-SIZE: 14px
}
.f12 {
	FONT-SIZE: 12px
}
A.f12 {
	FONT-SIZE: 12px
}
.orgred_b {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ff6600; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.ajax {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; BORDER-LEFT: #ccc 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #ccc 1px solid; BACKGROUND-COLOR: #ffffcc
}
.link_f14:link {
	FONT-SIZE: 14px
}
.link_f14:visited {
	FONT-SIZE: 14px
}
.link_f14:hover {
	FONT-SIZE: 14px
}
.link_f12:link {
	FONT-SIZE: 12px
}
.link_f12:visited {
	FONT-SIZE: 12px
}
.link_f12:hover {
	FONT-SIZE: 12px
}
#tianyaall_menu {
	CLEAR: both; PADDING-RIGHT: 0px; MARGIN-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; WIDTH: 800px; PADDING-TOP: 0px; BACKGROUND-COLOR: #ffffff
}
#tianya_foot {
	CLEAR: both; PADDING-RIGHT: 6px; MARGIN-TOP: 5px; PADDING-LEFT: 6px; PADDING-BOTTOM: 6px; WIDTH: 800px; PADDING-TOP: 6px
}
.pick2 {
	BORDER-RIGHT: #ff3300 1px solid; BORDER-TOP: #ff3300 1px solid; BORDER-LEFT: #ff3300 1px solid; BORDER-BOTTOM: #ff3300 1px solid
}
#top_area {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; WIDTH: 800px; PADDING-TOP: 0px
}
#top_area .ty_id {
	MARGIN: 0px 30px
}
.id_name {
	FONT-WEIGHT: bold; FONT-SIZE: 25px; LINE-HEIGHT: 28px
}
#top_area .my_site {
	FONT-SIZE: 12px; MARGIN: 0px 30px 10px; HEIGHT: 30px
}
#main_area {
	CLEAR: both; WIDTH: 850px; PADDING-TOP: 15px
}
.main_left {
	FLOAT: left
}
.main_rig {
	FLOAT: left
}
.my_ty_tip-tip {
	Z-INDEX: 1300; WIDTH: 230px; COLOR: #000
}
.my_ty_tip-title {
	BORDER-RIGHT: #e6e6e6 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #e6e6e6 1px solid; PADDING-LEFT: 8px; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: #6699cc; PADDING-BOTTOM: 4px; MARGIN: 0px; BORDER-LEFT: #e6e6e6 1px solid; COLOR: #fff; PADDING-TOP: 8px; BORDER-BOTTOM: #e6e6e6 1px solid
}
.my_ty_tip-text {
	BORDER-RIGHT: #e6e6e6 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #e6e6e6 1px solid; PADDING-LEFT: 8px; FONT-SIZE: 12px; BACKGROUND: #f5f7ef; PADDING-BOTTOM: 8px; BORDER-LEFT: #e6e6e6 1px solid; PADDING-TOP: 4px; BORDER-BOTTOM: #e6e6e6 1px solid
}
.style_mol {
	Z-INDEX: 100; WIDTH: 530px; POSITION: absolute; TOP: 25px; BACKGROUND-COLOR: #fff
}
.fun_tab {
	BORDER-RIGHT: #bbb 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #bbb 1px solid; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; BORDER-LEFT: #bbb 1px solid; PADDING-TOP: 3px; BORDER-BOTTOM: #bbb 1px solid; BACKGROUND-COLOR: #ffffff
}
.fun_tab_bar {
	MARGIN: 4px 3px; BORDER-BOTTOM: #dddddd 1px solid; HEIGHT: 22px; BACKGROUND-COLOR: #efefef
}
.fun_tab_bar .gnt {
	PADDING-LEFT: 6px; FONT-WEIGHT: bold; FONT-SIZE: 14px; FLOAT: left; COLOR: #333
}
.fun_tab_bar .gnclose {
	PADDING-RIGHT: 3px; FLOAT: right
}
.fun_sel_bg1 {
	BACKGROUND-COLOR: #eeeeee
}
.fun_list {
	MARGIN: 5px
}
.fun_list IMG {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; MARGIN: 1px; PADDING-TOP: 1px
}
.fun_area {
	CLEAR: both;
	PADDING-RIGHT: 5px;
	PADDING-LEFT: 5px;
	PADDING-BOTTOM: 5px;
	PADDING-TOP: 5px;
	POSITION: relative;
	background-color: #2E2E2E;
	width: 790px;
}
.fun {
	PADDING-RIGHT: 6px; BACKGROUND-POSITION: left center; PADDING-LEFT: 6px; FONT-SIZE: 12px; FLOAT: right; BACKGROUND-IMAGE: url(http://static.tianya.cn/img/static/2008/mytianya/b_meg.gif); PADDING-BOTTOM: 0px; MARGIN-RIGHT: 10px; PADDING-TOP: 0px; BACKGROUND-REPEAT: no-repeat; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.menu {
	CLEAR: both; BACKGROUND-POSITION: left top; WIDTH: auto; BACKGROUND-REPEAT: repeat-x
}
.menu UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 15px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.menu UL LI {
	PADDING-RIGHT: 8px; BACKGROUND-POSITION: center top; PADDING-LEFT: 8px; FONT-SIZE: 14px; FLOAT: left; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; LIST-STYLE-TYPE: none; HEIGHT: 22px; TEXT-ALIGN: center
}
.menu UL LI A {
	FONT-SIZE: 14px
}
.menu UL LI A:link {
	FONT-SIZE: 14px
}
.menu UL LI A:visited {
	FONT-SIZE: 14px
}
.menu .s {
	BACKGROUND-POSITION: center top; FONT-WEIGHT: bold; BACKGROUND-REPEAT: repeat-x; HEIGHT: 22px
}
.menu_sec {
	CLEAR: both; BACKGROUND-POSITION: left top; PADDING-LEFT: 15px; WIDTH: auto; PADDING-TOP: 5px; BACKGROUND-REPEAT: repeat-x; HEIGHT: 24px
}
.menu_u {
	FONT-SIZE: 14px; TEXT-DECORATION: none
}
.menu_u A {
	FONT-SIZE: 14px; TEXT-DECORATION: none
}
.menu_u A:link {
	FONT-SIZE: 14px; TEXT-DECORATION: none
}
.menu_u A:visited {
	FONT-SIZE: 14px; TEXT-DECORATION: none
}
.menu_u A:hover {
	FONT-SIZE: 14px; TEXT-DECORATION: none
}
.menu_s {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 14px; PADDING-BOTTOM: 1px; PADDING-TOP: 2px; TEXT-DECORATION: none
}
.menu_s A {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 14px; PADDING-BOTTOM: 1px; PADDING-TOP: 2px; TEXT-DECORATION: none
}
.menu_s A:link {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 14px; PADDING-BOTTOM: 1px; PADDING-TOP: 2px; TEXT-DECORATION: none
}
.menu_s A:visited {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 14px; PADDING-BOTTOM: 1px; PADDING-TOP: 2px; TEXT-DECORATION: none
}
.menu_s A:hover {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 14px; PADDING-BOTTOM: 1px; PADDING-TOP: 2px; TEXT-DECORATION: none
}
.menu_thi {
	MARGIN-TOP: 4px
}
.menu_thi .top_arr {
	BACKGROUND-POSITION: left bottom; MARGIN-TOP: 0px; BACKGROUND-IMAGE: url(http://static.tianya.cn/img/static/2008/mytianya/arrow_up.gif); BACKGROUND-REPEAT: no-repeat; HEIGHT: 5px
}
.menu_thi .m {
	BORDER-RIGHT: 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: 1px solid; PADDING-LEFT: 10px; PADDING-BOTTOM: 2px; BORDER-LEFT: 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: 1px solid
}
.menu_thi_u {
	FONT-SIZE: 12px; TEXT-DECORATION: none
}
.menu_thi_u A {
	FONT-SIZE: 12px; TEXT-DECORATION: none
}
.menu_thi_u A:link {
	FONT-SIZE: 12px; TEXT-DECORATION: none
}
.menu_thi_u A:visited {
	FONT-SIZE: 12px; TEXT-DECORATION: none
}
.menu_thi_u A:hover {
	
}
.menu_thi_s {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 1px; PADDING-TOP: 2px; TEXT-DECORATION: none
}
.menu_thi_s A {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 1px; PADDING-TOP: 2px; TEXT-DECORATION: none
}
.menu_thi_s A:link {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 1px; PADDING-TOP: 2px; TEXT-DECORATION: none
}
.menu_thi_s A:visited {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 1px; PADDING-TOP: 2px; TEXT-DECORATION: none
}
.menu_thi_s A:hover {
	FONT-SIZE: 12px
}
.menu_thi_u A:hover {
	FONT-SIZE: 12px
}
.box {
	MARGIN: 0px 0px 10px
}
.box0 {
	WIDTH: 100px; POSITION: relative; HEIGHT: 1px; zIndex: 1
}
.box .box_top {
	CLEAR: both; PADDING-RIGHT: 3px; BACKGROUND-POSITION: left top; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; BACKGROUND-REPEAT: repeat-x; POSITION: relative; HEIGHT: 24px
}
.box .box_top .box_top_left {
	DISPLAY: inline;
	PADDING-LEFT: 10px;
	FONT-WEIGHT: bold;
	FLOAT: left;
	OVERFLOW: hidden;
	PADDING-TOP: 3px;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.box .box_top .box_col {
	Z-INDEX: 2; RIGHT: 4px; POSITION: absolute; TOP: 5px; TEXT-ALIGN: right
}
.box .box_top .box_col .coll {
	FLOAT: left
}
.box .box_top .box_col UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.box .box_top .box_col UL LI {
	FLOAT: left; MARGIN: 0px 3px 0px 0px; LIST-STYLE-TYPE: none
}
.box .box_top .box_col A {
	COLOR: #ff0000
}
.box .box_main {
	CLEAR: both;
	PADDING-RIGHT: 3px;
	PADDING-LEFT: 3px;
	PADDING-BOTTOM: 3px;
	PADDING-TOP: 3px;
	background-color: #001F33;
}
.box .box_foot {
	HEIGHT: 0px
}
.box1 {
	MARGIN: 0px 0px 10px
}
.box1 .box_top {
	CLEAR: both; PADDING-RIGHT: 3px; BACKGROUND-POSITION: left top; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; BACKGROUND-REPEAT: repeat-x; POSITION: relative; HEIGHT: 24px
}
.box1 .box_top .box_top_left {
	DISPLAY: inline; PADDING-LEFT: 10px; FONT-WEIGHT: bold; FLOAT: left; OVERFLOW: hidden; PADDING-TOP: 3px; FONT-FAMILY: "宋体"
}
.box1 .box_top .box_col {
	Z-INDEX: 2; RIGHT: 4px; POSITION: absolute; TOP: 5px; TEXT-ALIGN: right
}
.box1 .box_top .box_col .coll {
	FLOAT: left
}
.box1 .box_top .box_col UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.box1 .box_top .box_col UL LI {
	FLOAT: left; MARGIN: 0px 3px 0px 0px; LIST-STYLE-TYPE: none
}
.box1 .box_top .box_col A {
	COLOR: #ff0000
}
.box1 .box_main {
	CLEAR: both; PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
.box1 .box_foot {
	HEIGHT: 0px
}
.box2 {
	MARGIN: 0px 0px 10px
}
.box2 .box_top {
	CLEAR: both; PADDING-RIGHT: 3px; BACKGROUND-POSITION: left top; BORDER-TOP: #c4cbd5 1px solid; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; BACKGROUND-REPEAT: repeat-x; POSITION: relative; HEIGHT: 24px; BACKGROUND-COLOR: #e7f1fa
}
.box2 .box_top .box_top_left {
	DISPLAY: inline; PADDING-LEFT: 10px; FONT-WEIGHT: bold; FLOAT: left; OVERFLOW: hidden; PADDING-TOP: 3px; FONT-FAMILY: "宋体"
}
.box2 .box_top .box_col {
	Z-INDEX: 2; RIGHT: 4px; POSITION: absolute; TOP: 5px; TEXT-ALIGN: right
}
.box2 .box_top .box_col .coll {
	FLOAT: left
}
.box2 .box_top .box_col UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.box2 .box_top .box_col UL LI {
	FLOAT: left; MARGIN: 0px 3px 0px 0px; LIST-STYLE-TYPE: none
}
.box2 .box_top .box_col A {
	COLOR: #ff0000
}
.box2 .box_main {
	CLEAR: both; PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
.box2 .box_foot {
	HEIGHT: 0px
}
.left_menu {
	BORDER-TOP: 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 14px; MARGIN: 5px; PADDING-TOP: 5px
}
.box_arw_down {
	BACKGROUND-POSITION: left bottom; MARGIN-TOP: 3px; FLOAT: right; WIDTH: 26px; CURSOR: hand; BACKGROUND-REPEAT: no-repeat; HEIGHT: 20px
}
.box_arw_up {
	BACKGROUND-POSITION: left bottom; MARGIN-TOP: 3px; FLOAT: right; WIDTH: 26px; CURSOR: hand; BACKGROUND-REPEAT: no-repeat; HEIGHT: 20px
}
.box_arw_down {
	BACKGROUND-IMAGE: url(http://static.tianya.cn/img/static/2008/mytianya/i_setup.gif)
}
.box_arw_up {
	BACKGROUND-IMAGE: url(http://static.tianya.cn/img/static/2008/mytianya/b_up.gif)
}
.card_box {
	MARGIN: 5px 3px 10px; HEIGHT: 24px; TEXT-ALIGN: center
}
.card_box UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.card_box UL LI {
	PADDING-RIGHT: 5px; BACKGROUND-POSITION: left top; PADDING-LEFT: 5px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN-LEFT: 5px; PADDING-TOP: 2px; BACKGROUND-REPEAT: repeat-x; LIST-STYLE-TYPE: none; HEIGHT: 20px
}
.card_box UL LI A {
	FONT-SIZE: 14px
}
.card_box_s {
	FONT-WEIGHT: bold
}
.card_box_s A:link {
	FONT-SIZE: 14px
}
.card_box_s A:hover {
	FONT-SIZE: 14px
}
.card_box_s A:visited {
	FONT-SIZE: 14px
}
.focus_top {
	MARGIN: 10px 5px
}
.focus_top H2 {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; MARGIN: 0px auto; LINE-HEIGHT: 28px; HEIGHT: 32px; TEXT-ALIGN: center
}
.focus_top H2 A {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; MARGIN: 0px auto; LINE-HEIGHT: 28px; HEIGHT: 32px; TEXT-ALIGN: center
}
.focus_top H3 {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 2px; MARGIN: 0px auto; PADDING-TOP: 2px
}
.page {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 8px; MARGIN: 5px 0px 0px; PADDING-TOP: 8px; HEIGHT: 20px; TEXT-ALIGN: center
}
.page UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.page UL LI {
	BACKGROUND-REPEAT: no-repeat; LIST-STYLE-TYPE: none
}
.page .page_rig {
	PADDING-RIGHT: 15px; BACKGROUND-POSITION: right center; FLOAT: right; BACKGROUND-IMAGE: url(http://multiverse.lamost.org/testbed/gcgroup/original/images/i_next.gif)
}
.page .page_left {
	BACKGROUND-POSITION: left center; PADDING-LEFT: 15px; FLOAT: left; BACKGROUND-IMAGE: url(http://multiverse.lamost.org/testbed/gcgroup/original/images/i_pro.gif)
}
.page_num_tab {
	PADDING-RIGHT: 8px; BORDER-TOP: 1px dashed; PADDING-LEFT: 8px; PADDING-BOTTOM: 8px; PADDING-TOP: 8px; TEXT-ALIGN: center
}
.page_num:link {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; PADDING-TOP: 2px
}
.page_num:visited {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; PADDING-TOP: 2px
}
.page_num:hover {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; COLOR: #fff; PADDING-TOP: 2px; BACKGROUND-COLOR: #f60
}
.operate {
	Z-INDEX: 2; RIGHT: 5px; POSITION: absolute; TOP: 0px; TEXT-ALIGN: right
}
.list_dingye {
	
}
.list_dingye UL {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 1px solid
}
.list_dingye UL LI {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 2px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.list_dingye .col1 {
	WIDTH: 120px
}
.list_dingye .col2 {
	WIDTH: 315px
}
.list_ly {
	CLEAR: both; MARGIN: 2px
}
.list_ly UL {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 3px; PADDING-TOP: 0px
}
.list_ly UL LI {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; MARGIN-BOTTOM: 5px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; LIST-STYLE-TYPE: none
}
.list_ly UL LI A {
	FONT-SIZE: 14px
}
.list_ly UL LI IMG {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; FLOAT: left; PADDING-BOTTOM: 1px; PADDING-TOP: 1px
}
.list_ly UL LI H2 {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: normal; FONT-SIZE: 12px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px auto; PADDING-TOP: 0px; POSITION: relative; HEIGHT: 62px
}
.list_ly UL LI .ly_col {
	HEIGHT: 62px
}
.list_ly UL LI H3 {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; PADDING-TOP: 0px
}
.list_ly UL LI H3 A {
	FONT-SIZE: 12px
}
.ly_col2 {
	
}
.list_fir {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 5px; PADDING-TOP: 0px; TEXT-ALIGN: left
}
.list_fir UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.list_fir UL LI {
	PADDING-RIGHT: 3px; BACKGROUND-POSITION: left top; PADDING-LEFT: 15px; BACKGROUND-IMAGE: url(http://static.tianya.cn/img/static/2008/mytianya/dot.gif); PADDING-BOTTOM: 3px; LINE-HEIGHT: 18px; PADDING-TOP: 3px; BACKGROUND-REPEAT: no-repeat; LIST-STYLE-TYPE: none
}
.list_opt_s {
	POSITION: relative
}
.list_opt_u {
	POSITION: relative
}
.list_sec {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 5px; PADDING-TOP: 0px; TEXT-ALIGN: left
}
.list_sec UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.list_sec LI {
	PADDING-RIGHT: 2px; PADDING-LEFT: 8px; PADDING-BOTTOM: 2px; MARGIN: 1px; LINE-HEIGHT: 18px; PADDING-TOP: 2px; LIST-STYLE-TYPE: none
}
.list_fav {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 14px; PADDING-BOTTOM: 0px; MARGIN: 5px; PADDING-TOP: 0px; TEXT-ALIGN: left
}
.list_fav UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.list_fav LI {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-SIZE: 14px; FLOAT: left; PADDING-BOTTOM: 2px; MARGIN: 1px; WIDTH: 140px; PADDING-TOP: 2px; LIST-STYLE-TYPE: none; POSITION: relative
}
.list_fav LI A {
	FONT-SIZE: 14px
}
.list_fav A:link {
	FONT-SIZE: 14px
}
.list_fav A:hover {
	FONT-SIZE: 14px
}
.list_fav A:visited {
	FONT-SIZE: 14px
}
.list_blog {
	
}
.list_blog UL {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.list_blog UL LI {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; PADDING-BOTTOM: 0px; MARGIN: 3px; PADDING-TOP: 0px; BORDER-BOTTOM: 1px solid; LIST-STYLE-TYPE: none
}
.list_blog UL LI H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 14px; PADDING-BOTTOM: 4px; MARGIN: 0px auto; PADDING-TOP: 6px
}
.ltab_blog UL LI H2 A {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 14px; PADDING-BOTTOM: 4px; MARGIN: 0px auto; PADDING-TOP: 6px
}
.list_blog UL LI H3 {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; MARGIN: 3px auto
}
.list_blog UL LI H4 {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; MARGIN: 0px auto; POSITION: relative
}
.list_blog .blog_col {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; MARGIN: 6px; COLOR: #779d03
}
.padding_23 {
	PADDING-LEFT: 23px
}
.list_art {
	CLEAR: both; PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; MARGIN: 0px 5px; PADDING-TOP: 3px; POSITION: relative
}
.list_art .more {
	FLOAT: right; HEIGHT: 20px
}
.list_art_s {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 2px; MARGIN: 0px 5px; PADDING-TOP: 2px
}
.list_art UL {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; MARGIN: 0px 0px 0px 5px; PADDING-TOP: 2px; HEIGHT: 20px
}
.list_art_s UL {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; MARGIN: 0px 0px 0px 5px; PADDING-TOP: 2px; HEIGHT: 20px
}
.list_art UL LI {
	FLOAT: left; LIST-STYLE-TYPE: none; HEIGHT: 20px
}
.list_art_s UL LI {
	FLOAT: left; LIST-STYLE-TYPE: none; HEIGHT: 20px
}
.list_art_title {
	FONT-WEIGHT: bold; MARGIN-BOTTOM: 5px; BORDER-BOTTOM: 3px solid; TEXT-ALIGN: center
}
.list_art .col1 {
	PADDING-LEFT: 5px; WIDTH: 60px
}
.list_art_s .col1 {
	PADDING-LEFT: 5px; WIDTH: 60px
}
.list_art .col1 A {
	
}
.list_art_s .col1 A {
	
}
.list_art .col2 {
	WIDTH: 240px
}
.list_art_s .col2 {
	WIDTH: 240px
}
.list_art .col2 A {
	FONT-SIZE: 14px
}
.list_art_s .col2 A {
	FONT-SIZE: 14px
}
.list_art .col2 A:link {
	
}
.list_art_s .col2 A:link {
	
}
.list_art .col3 {
	PADDING-LEFT: 5px; WIDTH: 100px
}
.list_art_s .col3 {
	PADDING-LEFT: 5px; WIDTH: 100px
}
.list_art .col3 A {
	
}
.list_art_s .col3 A {
	
}
.list_art .col4 {
	WIDTH: 190px
}
.list_art_s .col4 {
	WIDTH: 190px
}
.list_art .col4 A {
	FONT-SIZE: 14px
}
.list_art_s .col4 A {
	FONT-SIZE: 14px
}
.list_art .col4 A:link {
	
}
.list_art_s .col4 A:link {
	
}
.list_art .col5 {
	WIDTH: 300px
}
.list_art_s .col5 {
	WIDTH: 300px
}
.list_art .col5 A {
	FONT-SIZE: 14px
}
.list_art_s .col5 A {
	FONT-SIZE: 14px
}
.list_art .col5 A:link {
	
}
.list_art_s .col5 A:link {
	
}
.list_art .col6 {
	WIDTH: 130px
}
.ltab_art_s .col6 {
	WIDTH: 130px
}
.list_art .col6 A {
	
}
.list_art_s .col6 A {
	
}
.list_art .col6 A:link {
	
}
.list_art_s .col6 A:link {
	
}
.list_art .col7 {
	WIDTH: 430px
}
.list_art_s .col7 {
	WIDTH: 430px
}
.list_art .col7 A {
	FONT-SIZE: 14px
}
.list_art_s .col7 A {
	FONT-SIZE: 14px
}
.list_art .col7 A:link {
	
}
.list_art_s .col7 A:link {
	
}
.list_art .col8 {
	WIDTH: 350px
}
.list_art_s .col8 {
	WIDTH: 350px
}
.list_art .col8 A {
	FONT-SIZE: 14px
}
.list_art_s .col8 A {
	FONT-SIZE: 14px
}
.list_art .col8 A:link {
	
}
.list_art_s .col8 A:link {
	
}
.list_newman {
	CLEAR: both
}
.list_newman UL {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.list_newman UL LI {
	FLOAT: left; MARGIN: 0px auto; OVERFLOW: hidden; WIDTH: 80px; WORD-BREAK: break-all; LIST-STYLE-TYPE: none; TEXT-ALIGN: center; WORD-WRAP: break-word
}
.list_newman UL LI IMG {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; PADDING-TOP: 1px
}
.list_newman UL LI H2 {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; MARGIN: 0px auto; WIDTH: 80px; HEIGHT: 40px; TEXT-ALIGN: center
}
.search_tab {
	FONT-SIZE: 14px; MARGIN: 8px; TEXT-ALIGN: center
}
.search_tab UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.search_tab LI {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-SIZE: 14px; PADDING-BOTTOM: 3px; MARGIN: 1px; PADDING-TOP: 3px; LIST-STYLE-TYPE: none
}
.mag_tab {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; MARGIN: 2px 2px 5px; PADDING-TOP: 5px
}
.mag_tab UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.mag_tab UL LI {
	FONT-SIZE: 14px; MARGIN: 3px 0px; LIST-STYLE-TYPE: none
}
.opt_rig {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; MARGIN: 0px 5px 5px; PADDING-TOP: 5px; TEXT-ALIGN: right
}
.opt_rig A {
	COLOR: #ff6600
}
.opt_rig A:link {
	COLOR: #ff6600
}
.opt_rig A:visited {
	COLOR: #ff6600
}
.opt_tab {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 1px; MARGIN: 12px; PADDING-TOP: 1px
}
.opt_tab A {
	COLOR: #ff6600
}
.opt_tab A:link {
	COLOR: #ff6600
}
.opt_tab A:visited {
	COLOR: #ff6600
}
.my_place {
	CLEAR: both; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; MARGIN: 2px 2px 5px; PADDING-TOP: 5px
}
.my_place UL {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.my_place UL LI {
	MARGIN: 0px; LIST-STYLE-TYPE: none
}
.my_place_left {
	FLOAT: left; WIDTH: 80px
}
.find_fri {
	CLEAR: both
}
.find_fri UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.find_fri UL LI {
	CLEAR: both; PADDING-RIGHT: 6px; PADDING-LEFT: 6px; FONT-SIZE: 14px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; LIST-STYLE-TYPE: none
}
.find_fri UL LI .fril {
	FONT-SIZE: 14px; FLOAT: left; HEIGHT: 45px
}
.find_fri UL LI .frir {
	FONT-SIZE: 14px; FLOAT: left
}
.find_fri .btn {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; PADDING-BOTTOM: 8px; PADDING-TOP: 8px; TEXT-ALIGN: center
}
.find_fri .expert {
	PADDING-RIGHT: 15px; BACKGROUND-POSITION: left top; PADDING-LEFT: 15px; BACKGROUND-IMAGE: url(http://static.tianya.cn/img/static/2008/mytianya/exp_line.gif); PADDING-BOTTOM: 2px; MARGIN: 0px 5px; PADDING-TOP: 2px; BACKGROUND-REPEAT: repeat-x; TEXT-ALIGN: right
}
.find_fri .expert A {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; BACKGROUND-COLOR: #f9f9f9
}
.find_fri .expert A:link {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; BACKGROUND-COLOR: #f9f9f9
}
.find_fri .expert A:hover {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; BACKGROUND-COLOR: #f9f9f9
}
.find_fri .expert A:visited {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; BACKGROUND-COLOR: #f9f9f9
}
.blog_white_tab {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-SIZE: 14px; PADDING-BOTTOM: 3px; MARGIN: 10px auto; WIDTH: 600px; PADDING-TOP: 3px; BACKGROUND-COLOR: #fff
}
.td_font {
	FONT-SIZE: 14px; COLOR: #333
}
.td_fontb {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #333
}
.con_title {
	MARGIN: 10px 3px 10px 20px; LINE-HEIGHT: 20px; PADDING-TOP: 3px; HEIGHT: 22px
}
.con_time {
	MARGIN: 5px 20px; FONT: 12px Arial; HEIGHT: 20px
}
.con_time A {
	COLOR: #ff6600
}
.con_time A:link {
	COLOR: #ff6600
}
.con_time A:visited {
	COLOR: #ff6600
}
.con {
	FONT-SIZE: 14px; MARGIN: 5px 20px; LINE-HEIGHT: 22px
}
.con_foot {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; MARGIN: 10px 20px; PADDING-TOP: 1px; TEXT-ALIGN: right
}
#ding {
	MARGIN: 5px 20px
}
#ding .btn_ding {
	BORDER-TOP-WIDTH: 0px; BACKGROUND-POSITION: left top; FONT-WEIGHT: bold; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 14px; BACKGROUND-IMAGE: url(http://static.tianya.cn/img/static/2008/mytianya/btn_ding.png); BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 30px; WIDTH: 76px; COLOR: #ffffff; BACKGROUND-REPEAT: no-repeat; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 53px; TEXT-ALIGN: center; BORDER-RIGHT-WIDTH: 0px
}
.restore {
	MARGIN: 5px 20px; LINE-HEIGHT: 20px
}
.restore .r_title {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; HEIGHT: 25px; TEXT-ALIGN: center
}
.restore .r_con {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 14px; PADDING-BOTTOM: 5px; LINE-HEIGHT: 22px; PADDING-TOP: 5px
}
.photo_list {
	CLEAR: both
}
.photo_list UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.photo_list UL LI {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FLOAT: left; PADDING-BOTTOM: 2px; MARGIN: 2px auto; PADDING-TOP: 2px; LIST-STYLE-TYPE: none; TEXT-ALIGN: center
}
.photo_list UL LI IMG {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; PADDING-TOP: 1px
}
.photo_list UL LI H2 {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; MARGIN: 0px; WIDTH: 100px; HEIGHT: 25px; TEXT-ALIGN: center
}
.photo_list_sec {
	CLEAR: both; MARGIN: 3px
}
.photo_list_sec UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.photo_list_sec UL LI {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FLOAT: left; PADDING-BOTTOM: 5px; MARGIN: 5px; PADDING-TOP: 5px; LIST-STYLE-TYPE: none; BACKGROUND-COLOR: #fff; TEXT-ALIGN: center
}
.photo_list_sec UL LI IMG {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; PADDING-TOP: 1px
}
.photo_list_sec .pcol {
	WIDTH: 580px
}
.photo_list_sec UL LI H2 {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; FLOAT: left; MARGIN: 0px; HEIGHT: 20px
}
.photo_list_sec UL LI H3 {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; FLOAT: right; MARGIN: 0px; HEIGHT: 20px; TEXT-ALIGN: right
}
.photo_tab {
	MARGIN: 3px 13px; HEIGHT: 20px
}
.photo_tab .p_left {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; FLOAT: left; MARGIN: 0px; HEIGHT: 20px
}
.photo_tab .p_rig {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; FLOAT: right; MARGIN: 0px; HEIGHT: 20px; TEXT-ALIGN: right
}
.fri_list {
	CLEAR: both; MARGIN: 8px 0px
}
.fri_list UL {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.fri_list UL LI {
	FLOAT: left; PADDING-BOTTOM: 5px; MARGIN: 5px 5px 5px 0px; WIDTH: 100%; BORDER-BOTTOM: 1px solid; LIST-STYLE-TYPE: none; POSITION: relative
}
.fri_list UL LI H2 {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; FLOAT: left; MARGIN: 0px auto; WIDTH: 350px; PADDING-TOP: 5px; POSITION: relative
}
.fri_list UL LI H3 {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; FLOAT: right; MARGIN: 0px auto; WIDTH: 350px; PADDING-TOP: 5px; TEXT-ALIGN: right
}
.fri_list UL LI .fri_col {
	FLOAT: left; MARGIN-BOTTOM: 3px; TEXT-ALIGN: center
}
.fri_list UL LI .fri_col_1 IMG {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; MARGIN: 5px; PADDING-TOP: 1px
}
.fri_list UL LI .fri_col_2 {
	FLOAT: left
}
.fri_list UL LI .fri_col_3 {
	FLOAT: left; POSITION: relative
}
.fri_list_sec {
	CLEAR: both; MARGIN: 2px 0px
}
.fri_list_sec UL {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 2px; PADDING-TOP: 0px; BORDER-BOTTOM: 1px solid
}
.fri_list_sec UL LI {
	FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 2px; LIST-STYLE-TYPE: none
}
.fri2_col_1 {
	FLOAT: left; MARGIN-RIGHT: 5px; TEXT-ALIGN: center
}
.fri2_col_1 IMG {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; MARGIN: 0px; PADDING-TOP: 1px
}
.fri2_col_2 {
	FLOAT: left; WIDTH: 530px; POSITION: relative
}
.fri2_col_2 .f_rig {
	TEXT-ALIGN: right
}
.fri2_col_3 {
	FLOAT: right; WIDTH: 170px; POSITION: relative
}
.fri2_col_4 {
	FLOAT: left; MARGIN: 0px 2px; WIDTH: 188px; BORDER-BOTTOM: 1px solid
}
.bulo_left {
	PADDING-RIGHT: 2px; BORDER-TOP: 1px dashed; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; MARGIN: 3px 0px; PADDING-TOP: 2px; BORDER-BOTTOM: 1px dashed
}
.mag_list {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 5px; PADDING-TOP: 0px
}
.mag_list UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.mag_list LI {
	CLEAR: both; PADDING-RIGHT: 3px; PADDING-LEFT: 8px; FONT-SIZE: 14px; PADDING-BOTTOM: 3px; MARGIN: 1px; LINE-HEIGHT: 18px; PADDING-TOP: 3px; LIST-STYLE-TYPE: none
}
.mag_list UL LI .mag_left {
	FONT-SIZE: 14px; FLOAT: left; WIDTH: 72px
}
.mag_list UL LI .mag_rig {
	FONT-SIZE: 14px; FLOAT: left; WIDTH: 480px
}
.mag_list_sec {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 5px; PADDING-TOP: 0px
}
.mag_list_sec UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 8px; PADDING-TOP: 0px
}
.mag_list_sec LI {
	CLEAR: both; PADDING-RIGHT: 5px; PADDING-LEFT: 8px; FONT-SIZE: 14px; PADDING-BOTTOM: 5px; MARGIN: 3px; LINE-HEIGHT: 18px; PADDING-TOP: 5px; LIST-STYLE-TYPE: none
}
.mag_list_sec UL LI .mag_left {
	FONT-SIZE: 14px; FLOAT: left; WIDTH: 90px
}
.mag_list_sec UL LI .mag_rig {
	FONT-SIZE: 14px; FLOAT: left; WIDTH: 600px; LINE-HEIGHT: 24px
}
.mag_h40 {
	HEIGHT: 40px
}
.mail_menu {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 5px; PADDING-TOP: 0px
}
.mail_menu UL {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.mail_menu UL LI {
	PADDING-RIGHT: 11px; PADDING-LEFT: 11px; FONT-SIZE: 14px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; LIST-STYLE-TYPE: none
}
.mail_menu_line_fir {
	BACKGROUND-POSITION: left top; BACKGROUND-IMAGE: url(http://static.tianya.cn/img/static/2008/mytianya/o_m1.gif); BACKGROUND-REPEAT: no-repeat
}
.mail_menu_line_bg {
	BACKGROUND-POSITION: left top; BACKGROUND-IMAGE: url(http://static.tianya.cn/img/static/2008/mytianya/o_m2.gif); BACKGROUND-REPEAT: no-repeat
}
.mail_menu_line_end {
	BACKGROUND-POSITION: left bottom; BACKGROUND-IMAGE: url(http://static.tianya.cn/img/static/2008/mytianya/o_m.gif); BACKGROUND-REPEAT: no-repeat
}
.mail_mol {
	BORDER-RIGHT: #999999 2px solid; PADDING-RIGHT: 1px; BORDER-TOP: #999999 2px solid; PADDING-LEFT: 1px; Z-INDEX: 1; RIGHT: 50px; FILTER: progid:dximagetransform.microsoft.shadow(color=#bbbbbb,direction=135,strength=3); PADDING-BOTTOM: 1px; BORDER-LEFT: #999999 2px solid; WIDTH: 460px; PADDING-TOP: 1px; BORDER-BOTTOM: #999999 2px solid; POSITION: absolute; TOP: 25px; BACKGROUND-COLOR: #fff
}
.mail_mol_bar {
	PADDING-TOP: 3px; HEIGHT: 20px; BACKGROUND-COLOR: #6699cc
}
.mail_mol_col_1 {
	PADDING-LEFT: 5px; FONT-SIZE: 14px; FLOAT: left; COLOR: #fff
}
.mail_mol_col_2 {
	FLOAT: right; COLOR: #fff
}
.mail_mol_col_3 {
	FONT-SIZE: 14px; MARGIN: 5px; LINE-HEIGHT: 22px
}
.mail_top {
	MARGIN-RIGHT: 3px; HEIGHT: 28px
}
.mail_top .m_top_left {
	BACKGROUND-POSITION: left top; FONT-WEIGHT: bold; FONT-SIZE: 14px; FLOAT: left; WIDTH: 80px; PADDING-TOP: 4px; BACKGROUND-REPEAT: repeat-x; HEIGHT: 24px; TEXT-ALIGN: center
}
.mail_top .m_top_rig {
	PADDING-RIGHT: 5px; FLOAT: right
}
.mail_to_oth {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; MARGIN: 5px 8px; BORDER-LEFT: 1px solid; BORDER-BOTTOM: 1px solid
}
.mail_to_oth H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; PADDING-TOP: 0px; POSITION: relative
}
.mailto_smh2 A {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; PADDING-TOP: 0px; POSITION: relative
}
.mail_to_oth H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 23px; FONT-WEIGHT: normal; FONT-SIZE: 14px; PADDING-BOTTOM: 5px; MARGIN: 0px auto; LINE-HEIGHT: 22px; PADDING-TOP: 5px
}
.mail_to_me {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; MARGIN: 5px 8px; BORDER-LEFT: 1px solid; BORDER-BOTTOM: 1px solid
}
.mail_to_me H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; PADDING-TOP: 0px; POSITION: relative
}
.mail_to_me H2 A {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; PADDING-TOP: 0px; POSITION: relative
}
.mail_to_me H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 23px; FONT-WEIGHT: normal; FONT-SIZE: 14px; PADDING-BOTTOM: 5px; MARGIN: 0px auto; LINE-HEIGHT: 22px; PADDING-TOP: 5px
}
.bulo_yz {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; COLOR: #fff; PADDING-TOP: 3px; BACKGROUND-COLOR: #f60
}
.bulo_yz:link {
	COLOR: #ffffff
}
.bulo_yz:visited {
	COLOR: #ffffff
}
.orgredb {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ff6600
}
#info_mypic_l {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; FONT-SIZE: 14px; Z-INDEX: 1; LEFT: 580px; PADDING-BOTTOM: 8px; PADDING-TOP: 8px; POSITION: absolute; TOP: 60px; BACKGROUND-COLOR: #fff
}
#info_mypic_l IMG {
	PADDING-BOTTOM: 15px
}
.info_area {
	MARGIN: 0px auto
}
.info_area_left {
	FLOAT: left; WIDTH: 220px; MARGIN-RIGHT: 10px
}
.info_area_rig {
	FLOAT: left; WIDTH: 700px
}
.info_list {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 10px 5px; PADDING-TOP: 0px
}
.info_list UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.info_list LI {
	PADDING-RIGHT: 3px;
	PADDING-LEFT: 5px;
	FONT-SIZE: 14px;
	PADDING-BOTTOM: 3px;
	MARGIN: 0px;
	PADDING-TOP: 3px;
	BORDER-BOTTOM: 1px solid;
	LIST-STYLE-TYPE: none;
	color: #33CCFF;
}
.info_list_col {
	FLOAT: left; WIDTH: 80px
}
.info_list_col2 {
	FLOAT: left; WIDTH: 225px
}
.info_list_col3 {
	FLOAT: left; WIDTH: 750px
}
.info_mypic {
	BORDER-RIGHT: 3px solid; PADDING-RIGHT: 1px; BORDER-TOP: 3px solid; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; MARGIN: 10px auto; BORDER-LEFT: 3px solid; WIDTH: 140px; PADDING-TOP: 1px; BORDER-BOTTOM: 3px solid
}
.info_fun {
	BORDER-RIGHT: 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: 1px solid; PADDING-LEFT: 3px; FONT-SIZE: 12px; PADDING-BOTTOM: 3px; MARGIN: 3px 15px; BORDER-LEFT: 1px solid; PADDING-TOP: 3px; BORDER-BOTTOM: 1px solid; TEXT-ALIGN: center
}
.info_fun A {
	FONT-SIZE: 12px; TEXT-DECORATION: none
}
.info_pl {
	BORDER-RIGHT: #555 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #555 1px solid; PADDING-LEFT: 3px; FONT-SIZE: 14px; PADDING-BOTTOM: 3px; MARGIN: 3px 5px; BORDER-LEFT: #555 1px solid; COLOR: #555; PADDING-TOP: 3px; BORDER-BOTTOM: #555 1px solid; BACKGROUND-COLOR: #333; TEXT-ALIGN: center
}
.asktab {
	BORDER-RIGHT: 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: 1px solid; PADDING-LEFT: 10px; FONT-SIZE: 12px; PADDING-BOTTOM: 10px; BORDER-LEFT: 1px solid; PADDING-TOP: 10px; BORDER-BOTTOM: 1px solid
}
.con_title_xa {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; MARGIN-LEFT: auto; WIDTH: 640px; COLOR: #ff6600; LINE-HEIGHT: 20px; MARGIN-RIGHT: auto; HEIGHT: 22px; TEXT-ALIGN: center
}
.con_title_xb {
	FONT-SIZE: 12px; MARGIN-LEFT: auto; WIDTH: 640px; COLOR: #000000; LINE-HEIGHT: 20px; MARGIN-RIGHT: auto; HEIGHT: 22px; TEXT-ALIGN: center
}
.con_title_xc {
	FONT-SIZE: 14px; MARGIN-LEFT: auto; WIDTH: 640px; COLOR: #000000; LINE-HEIGHT: 20px; MARGIN-RIGHT: auto; HEIGHT: 22px
}
.con_title_xd {
	FONT-SIZE: 14px; MARGIN: 5px auto; WIDTH: 640px; LINE-HEIGHT: 22px
}
.title_e {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; MARGIN: 5px auto; WIDTH: 640px; COLOR: #779d03; FONT-FAMILY: "宋体"
}
.restore_b {
	MARGIN: 5px auto; WIDTH: 640px; LINE-HEIGHT: 20px
}
.restore_b .r_title {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; HEIGHT: 25px; TEXT-ALIGN: center
}
.restore_b .r_con {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 14px; PADDING-BOTTOM: 5px; LINE-HEIGHT: 22px; PADDING-TOP: 5px
}
.page1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 8px; MARGIN: 5px 0px 0px; PADDING-TOP: 8px; HEIGHT: 20px; TEXT-ALIGN: center
}
.page1 UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.page1 UL LI {
	BACKGROUND-REPEAT: no-repeat; LIST-STYLE-TYPE: none
}
.page1 .page_rig {
	PADDING-RIGHT: 15px; BACKGROUND-POSITION: right center; FLOAT: right; BACKGROUND-IMAGE: url(http://multiverse.lamost.org/testbed/gcgroup/original/images/i_next.gif)
}
.page1 .page_left {
	BACKGROUND-POSITION: left center; PADDING-LEFT: 15px; FLOAT: left; BACKGROUND-IMAGE: url(http://multiverse.lamost.org/testbed/gcgroup/original/images/i_pro.gif)
}
.skin_bar {
	FONT-SIZE: 16px; MARGIN: 5px
}
.skin_tab {
	MARGIN: 8px
}
.skin_tab .skin_col {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-SIZE: 14px; PADDING-BOTTOM: 8px; PADDING-TOP: 8px
}
.skin_tab_color {
	PADDING-LEFT: 20px; MARGIN: 1px
}
.skin_tab_color IMG {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; MARGIN: 5px 5px 0px; PADDING-TOP: 1px
}
.skin_tab_color UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 5px; PADDING-TOP: 0px
}
.skin_tab_color UL LI {
	BORDER-RIGHT: 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: 1px solid; PADDING-LEFT: 2px; FLOAT: left; PADDING-BOTTOM: 2px; MARGIN: 5px; BORDER-LEFT: 1px solid; WIDTH: 20px; PADDING-TOP: 2px; BORDER-BOTTOM: 1px solid; LIST-STYLE-TYPE: none; HEIGHT: 20px
}
.skin_tab_color .skin_black {
	BACKGROUND-COLOR: #000
}
.skin_tab_color .skin_red {
	BACKGROUND-COLOR: #f30
}
.yingyong_t1 {
	PADDING-RIGHT: 2px; BACKGROUND-POSITION: right top; PADDING-LEFT: 2px; BACKGROUND-IMAGE: url(http://multiverse.lamost.org/testbed/gcgroup/original/images/date2.gif); PADDING-BOTTOM: 2px; MARGIN: 3px 10px 0px; PADDING-TOP: 2px; HEIGHT: 16px
}
.yingyong_t1 .yy_left {
	FLOAT: left; PADDING-TOP: 0px
}
.yingyong_t1 .yy_rig {
	FLOAT: right; MARGIN-RIGHT: 10px; PADDING-TOP: 0px
}
.streamrow {
	CLEAR: both; FONT-SIZE: 12px; WIDTH: 400px; FONT-STYLE: normal; FONT-FAMILY: arial,helvetica,sans-serif
}
.streamrow IMG {
	FLOAT: left; MARGIN-LEFT: 5px; MARGIN-RIGHT: 10px
}
.streamrow UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.streamrow LI {
	MARGIN-BOTTOM: 3px
}
.title {
	FONT-SIZE: 12px; MARGIN-BOTTOM: 3px
}
.stream_left {
	FONT-SIZE: 12px; FLOAT: left; WIDTH: 365px
}
.stream_left A {
	TEXT-DECORATION: underline
}
.stream_left A:link {
	TEXT-DECORATION: underline
}
.stream_left A:visited {
	TEXT-DECORATION: underline
}
.stream_left A:active {
	TEXT-DECORATION: underline
}
.stream_left A:hover {
	TEXT-DECORATION: underline
}
.stream_right {
	FONT-SIZE: 12px; FLOAT: right; MARGIN-LEFT: 10px; COLOR: #999999
}
.stream_right A {
	COLOR: #999999; TEXT-DECORATION: underline
}
.stream_right A:link {
	COLOR: #999999; TEXT-DECORATION: underline
}
.stream_right A:visited {
	COLOR: #999999; TEXT-DECORATION: underline
}
.stream_right A:active {
	COLOR: #999999; TEXT-DECORATION: underline
}
.stream_right A:hover {
	COLOR: #999999; TEXT-DECORATION: underline
}
.streamrowline {
	CLEAR: both; MARGIN: 1px; BORDER-BOTTOM: #d8dfea 1px solid
}
.summary {
	FONT-SIZE: 12px; COLOR: #779175
}
.media_img {
	CLEAR: both
}
.media_img UL {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.media_img UL LI {
	FLOAT: left; LIST-STYLE-TYPE: none
}
.list_newman UL LI IMG {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; PADDING-TOP: 1px
}
.pick {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid
}
.media_img_more {
	MARGIN-TOP: 50px
}
.list_fav1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 5px; PADDING-TOP: 0px; TEXT-ALIGN: left
}
.list_fav1 UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.list_fav1 LI {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-SIZE: 12px; FLOAT: left; PADDING-BOTTOM: 2px; MARGIN: 1px; WIDTH: 140px; PADDING-TOP: 2px; LIST-STYLE-TYPE: none; POSITION: relative
}
.list_fav1 LI A {
	FONT-SIZE: 12px
}
.list_fav1 A:link {
	FONT-SIZE: 12px
}
.list_fav1 A:hover {
	FONT-SIZE: 12px
}
.list_fav1 A:visited {
	FONT-SIZE: 12px
}
.myrss {
	FONT-SIZE: 14px; MARGIN: 9px 10px 0px; LINE-HEIGHT: 23px
}
.myrss UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.myrss LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}

.STYLE3 {
	FONT-SIZE: 24px
}
.STYLE5 {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; FONT-FAMILY: "楷体_GB2312";
}
.STYLE6 {
	FONT-FAMILY: "楷体_GB2312"
}
.STYLE8 {
	FONT-WEIGHT: bold;
	FONT-SIZE: 24px
}
.STYLE9 {
	FONT-SIZE: 16px;
	FONT-FAMILY: "Times New Roman", Times, serif;
	COLOR: #FFFFFF
}
.STYLE10 {
	FONT-SIZE: 36px; COLOR: #ff0000; FONT-FAMILY: "楷体_GB2312"
}
.STYLE12 {
	FONT-WEIGHT: bold; FONT-SIZE: 36px; COLOR: #ff0000; FONT-FAMILY: "楷体_GB2312"
}
.STYLE13 {
	COLOR: #ffffff
}
.STYLE14 {
	FONT-FAMILY: "Times New Roman", Times, serif
}
.STYLE15 {
	FONT-FAMILY: Georgia, "Times New Roman", Times, serif
}
.STYLE16 {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: #ff0000; FONT-FAMILY: "楷体_GB2312"
}
.STYLE20 {
	FONT-WEIGHT: bold; FONT-SIZE: 24px
}
A:link {
	COLOR: #0000ff
}
A:visited {
	COLOR: #0000ff
}
A:hover {
	COLOR: #ff0000
}
A:active {
	COLOR: #ff0000
}
.STYLE21 {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; FONT-FAMILY: "Times New Roman", Times, serif
}
.STYLE22 {
	FONT-WEIGHT: bold; FONT-SIZE: 24px; FONT-FAMILY: "Times New Roman", Times, serif
}

.STYLE100 {
	BORDER-TOP: 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 14px; MARGIN: 5px; PADDING-TOP: 5px
}
