UL.jd_menu {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 15px; PADDING-TOP: 0px; FONT-FAMILY: Arial, Helvetica,"宋体", sans-serif; LIST-STYLE-TYPE: none
}
UL.jd_menu_vertical {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 15px; PADDING-TOP: 0px; FONT-FAMILY: Arial, Helvetica,"宋体", sans-serif; LIST-STYLE-TYPE: none
}
UL.jd_menu_vertical {
	WIDTH: auto
}
UL.jd_menu_vertical LI {
	FLOAT: none
}
UL.jd_menu UL {
	PADDING-RIGHT: 0px; DISPLAY: none; PADDING-LEFT: 0px; Z-INDEX: 10000; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; POSITION: absolute
}
UL.jd_menu_vertical UL {
	PADDING-RIGHT: 0px; DISPLAY: none; PADDING-LEFT: 0px; Z-INDEX: 10000; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; POSITION: absolute
}
UL.jd_menu UL LI {
	FLOAT: none; MARGIN: 0px
}
UL.jd_menu_vertical UL LI {
	FLOAT: none; MARGIN: 0px
}
UL.jd_menu {
	HEIGHT: auto
}
UL.jd_menu UL {
	HEIGHT: auto
}
UL.jd_menu_vertical {
	HEIGHT: auto
}
UL.jd_menu_vertical UL {
	HEIGHT: auto
}
UL.jd_menu LI {
	FONT-SIZE: 12px; MARGIN: 0px; CURSOR: default; FONT-FAMILY: sans-serif; WHITE-SPACE: nowrap; HEIGHT: auto
}
UL.jd_menu LI LI {
	WIDTH: auto
}
UL.jd_menu P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
UL.jd_menu LI A:link {
	FONT-SIZE: 12px; COLOR: #004499; LINE-HEIGHT: 13px; FONT-FAMILY: Arial, Helvetica,"宋体", sans-serif; TEXT-DECORATION: none
}
UL.jd_menu LI A:hover {
	FONT-SIZE: 12px; COLOR: #004499; LINE-HEIGHT: 13px; FONT-FAMILY: Arial, Helvetica,"宋体", sans-serif; TEXT-DECORATION: none
}
UL.jd_menu LI A:visited {
	FONT-SIZE: 12px; COLOR: #004499; LINE-HEIGHT: 13px; FONT-FAMILY: Arial, Helvetica,"宋体", sans-serif; TEXT-DECORATION: none
}
UL.jd_menu LI.jdm_hover {
	
}
UL.jd_menu LI.jdm_active {
	
}
HTML {
	
}
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND-ATTACHMENT: fixed; BACKGROUND-IMAGE: url(http://global.tianya.cn/global/gnav/css/nothing.txt); PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BACKGROUND-COLOR: white
}
.wrapper {
	MARGIN: 0px auto; WIDTH: 950px; HEIGHT: 45px; TEXT-ALIGN: left
}
#global_top {
	HEIGHT: 31px
}
#topNav UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#topNav LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#topNav H5 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#topNav SPAN {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#topNav A #topNav P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#bottomNav UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#bottomNav A {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#topNavWrapper {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; Z-INDEX: 100; PADDING-BOTTOM: 0px; MARGIN: 0px auto; WIDTH: 950px; PADDING-TOP: 0px; POSITION: relative; TOP: 0px; HEIGHT: 31px; TEXT-ALIGN: left
}
#topNav {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; Z-INDEX: 100; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; OVERFLOW: visible; WIDTH: 950px; PADDING-TOP: 0px; BORDER-BOTTOM: #fff 1px solid; BACKGROUND-REPEAT: repeat-x; TOP: 0px; HEIGHT: 31px; BACKGROUND-COLOR: #6699cc
}
#searchTextField {
	BORDER-RIGHT: #8fb0d4 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #8fb0d4 1px solid; PADDING-LEFT: 3px; FONT-SIZE: 12px; PADDING-BOTTOM: 1px; BORDER-LEFT: #8fb0d4 1px solid; WIDTH: 125px; COLOR: #999; PADDING-TOP: 1px; BORDER-BOTTOM: #8fb0d4 1px solid; FONT-FAMILY: Arial, Helvetica,"宋体", sans-serif; HEIGHT: 15px; BACKGROUND-COLOR: #dce9f6
}
#topNav IMG {
	BORDER-TOP-WIDTH: 0px; DISPLAY: inline; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
#topNav .li_left_logo {
	PADDING-RIGHT: 0px; MARGIN-TOP: 1px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#topNav .li_left {
	PADDING-RIGHT: 8px; PADDING-LEFT: 5px; FLOAT: left; PADDING-BOTTOM: 3px; LINE-HEIGHT: 13px; PADDING-TOP: 8px; HEIGHT: 20px; TEXT-ALIGN: center
}
#nav_top_registerOrLogout {
	WIDTH: 25px
}
#topNav .li_left_line {
	BACKGROUND-POSITION: right top; BACKGROUND-IMAGE: url(http://global.tianya.cn/global/gnav/images_v2/TopNav_a.gif); MARGIN-LEFT: 3px; MARGIN-RIGHT: 3px; BACKGROUND-REPEAT: no-repeat
}
#topNav .li_left_line_left {
	BACKGROUND-POSITION: left top; PADDING-LEFT: 10px; FILTER: progid : DXImageTransform . Microsoft . AlphaImageLoader(src =
		'http://static.tianya.cn/img/global/comm/2009/allnav_top_line.png',
		sizingMethod = 'crop'); BACKGROUND-IMAGE: none; BACKGROUND-REPEAT: no-repeat
}
#topNav .li_left_sel {
	COLOR: #fff; BACKGROUND-COLOR: #2969a8
}
#topNav .center {
	PADDING-RIGHT: 7px; MARGIN-TOP: 4px; PADDING-LEFT: 80px; FLOAT: left; PADDING-BOTTOM: 3px; CURSOR: default; PADDING-TOP: 5px
}
#topNav .id {
	PADDING-RIGHT: 7px; MARGIN-TOP: 3px; PADDING-LEFT: 7px; FLOAT: left; PADDING-BOTTOM: 3px; WIDTH: 90px; PADDING-TOP: 5px; TEXT-ALIGN: right
}
#topNav .li_left_input {
	PADDING-LEFT: 7px; FLOAT: left; PADDING-BOTTOM: 3px; PADDING-TOP: 5px
}
#topNav .li_left_search {
	PADDING-RIGHT: 7px; FLOAT: left; PADDING-BOTTOM: 3px; LINE-HEIGHT: 10px; PADDING-TOP: 6px
}
#topNav .li_left_search IMG {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#topNav .top_border LI {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; LINE-HEIGHT: 13px; PADDING-TOP: 5px
}
#topNav .top_border LI:hover {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; LINE-HEIGHT: 13px; PADDING-TOP: 5px; BACKGROUND-COLOR: #dae9f5
}
#topNav .top_border LI:active {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; LINE-HEIGHT: 13px; PADDING-TOP: 5px; BACKGROUND-COLOR: #dae9f5
}
#topNav .top_border {
	BORDER-RIGHT: #666 1px solid; BORDER-TOP: #666 1px solid; BORDER-LEFT: #666 1px solid; BORDER-BOTTOM: #666 1px solid; BACKGROUND-COLOR: #fff; TEXT-ALIGN: left
}
#topNav .top_border P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 7px 0px 0px; PADDING-TOP: 0px
}
#topMoreLi {
	CURSOR: pointer
}
#servicesMenuItem {
	CURSOR: pointer
}
#nav_top_login {
	CURSOR: pointer
}
#bottomNavWrapper {
	MARGIN: 0px auto; WIDTH: 98%; TEXT-ALIGN: left
}
#bottomNav {
	PADDING-RIGHT: 0px; BORDER-TOP: #fff 1px solid; DISPLAY: block; PADDING-LEFT: 0px; Z-INDEX: 100; FLOAT: left; BACKGROUND-IMAGE: url(http://global.tianya.cn/global/gnav/images/footbg_v2.gif); PADDING-BOTTOM: 0px; OVERFLOW: visible; WIDTH: 100%; COLOR: #ffffff; BOTTOM: 0px; PADDING-TOP: 3px; BACKGROUND-REPEAT: repeat-x; POSITION: absolute; ; TOP: expression(documentElement . scrollTop +   documentElement .
		clientHeight-this . offsetHeight); HEIGHT: 25px; BACKGROUND-COLOR: #6699cc
}
#bottomNav A:link {
	LINE-HEIGHT: 23px; HEIGHT: 23px
}
#bottomNav A:visited {
	LINE-HEIGHT: 23px; HEIGHT: 23px
}
#bottomNav A:hover {
	LINE-HEIGHT: 23px; HEIGHT: 23px
}
#bottomNav A:active {
	LINE-HEIGHT: 23px; HEIGHT: 23px
}
#myMenuItem {
	CURSOR: pointer
}
#friendMenuItem {
	CURSOR: pointer
}
#msgMenuItem {
	CURSOR: pointer
}
#imBuddyItem {
	CURSOR: pointer
}
#bottomNav #imBuddyItem {
	FLOAT: right
}
#bottomNav #msgMenuItem {
	FLOAT: right
}
#bottomNav #friendMenuItem {
	FLOAT: right
}
#bottomNav #nav_bar_subForum {
	FLOAT: right
}
#bottomNav #nav_bar_city {
	FLOAT: right
}
#bottomNav #fixedCenterItem {
	FLOAT: right
}
.bottompic_left {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: left 50%; PADDING-LEFT: 0px; FLOAT: left; BACKGROUND-IMAGE: url(http://global.tianya.cn/global/gnav/images/afoot_left.gif); PADDING-BOTTOM: 0px; WIDTH: 7px; CURSOR: default; PADDING-TOP: 0px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 25px
}
.bottompic_rig {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 7px; CURSOR: default; PADDING-TOP: 0px; HEIGHT: 25px; TEXT-ALIGN: right
}
#bottomNav UL.jd_menu {
	HEIGHT: auto
}
#bottomNav UL.jd_menu UL {
	HEIGHT: auto
}
#bottomNav UL.jd_menu_vertical {
	HEIGHT: auto
}
#bottomNav UL.jd_menu_vertical UL {
	HEIGHT: auto
}
#bottomNav IMG {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
#bottomNav .center {
	FLOAT: left; WIDTH: 1px; CURSOR: default; HEIGHT: 23px
}
#bottomNav .li_imChat_btn_bak {
	BORDER-RIGHT: #bbb 1px solid; FLOAT: left; BORDER-LEFT: #bbb 1px solid; WIDTH: 128px; LINE-HEIGHT: 23px; HEIGHT: 23px; TEXT-ALIGN: center
}
#bottomNav .li_imChat_btn {
	FLOAT: left; WIDTH: 128px; LINE-HEIGHT: 23px; HEIGHT: 23px; TEXT-ALIGN: center
}
#bottomNav .li_imChat_btn_bg {
	BACKGROUND-IMAGE: url(http://global.tianya.cn/global/gnav/images_v2/imchat_btn.gif); COLOR: #ffffff; BACKGROUND-REPEAT: no-repeat; FONT-FAMILY: Arial, Helvetica,"宋体", sans-serif
}
#bottomNav .li_left_imbuddy {
	PADDING-LEFT: 7px; BACKGROUND-POSITION-X: left; FLOAT: left; BACKGROUND-IMAGE: url(http://global.tianya.cn/global/gnav/images/web_im.gif); BORDER-LEFT: #547da7 1px solid; WIDTH: 50px; COLOR: #ffffff; LINE-HEIGHT: 23px; BACKGROUND-REPEAT: no-repeat; FONT-FAMILY: Arial, Helvetica,"宋体", sans-serif; HEIGHT: 23px; TEXT-ALIGN: center
}
#bottomNav .li_left {
	BORDER-RIGHT: #95b9dc 1px solid; PADDING-RIGHT: 7px; PADDING-LEFT: 10px; FLOAT: left; PADDING-BOTTOM: 0px; BORDER-LEFT: #547da7 1px solid; LINE-HEIGHT: 23px; PADDING-TOP: 0px; HEIGHT: 23px; TEXT-ALIGN: center
}
#bottomNav .li_left_dope {
	BORDER-RIGHT: #95b9dc 1px solid; PADDING-LEFT: 20px; FLOAT: left; BACKGROUND-IMAGE: url(http://global.tianya.cn/global/gnav/images/i_mail_re.gif); BORDER-LEFT: #547da7 1px solid; WIDTH: 63px; LINE-HEIGHT: 23px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 23px
}
#bottomNav .msgShanshuo {
	BACKGROUND-IMAGE: url(http://global.tianya.cn/global/gnav/images/i_mail_flashb.gif); COLOR: #ff0000; BACKGROUND-REPEAT: no-repeat
}
#bottomNav .bottomselup_dope {
	BORDER-RIGHT: 1px solid; PADDING-LEFT: 20px; FLOAT: left; BACKGROUND-IMAGE: url(http://global.tianya.cn/global/gnav/images/i_mail_re.gif); BORDER-LEFT: 1px solid; WIDTH: 63px; COLOR: #000000; LINE-HEIGHT: 23px; BORDER-BOTTOM: 1px solid; BACKGROUND-REPEAT: no-repeat; HEIGHT: 23px; BACKGROUND-COLOR: #fff
}
#bottomNav .li_left_friend {
	BORDER-RIGHT: #95b9dc 1px solid; PADDING-LEFT: 20px; FLOAT: left; BACKGROUND-IMAGE: url(http://global.tianya.cn/global/gnav/images/icon_man.gif); BORDER-LEFT: #547da7 1px solid; WIDTH: 77px; COLOR: #ffffff; LINE-HEIGHT: 23px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 23px
}
.bottomselup_friend {
	BORDER-RIGHT: 1px solid; PADDING-LEFT: 20px; FLOAT: left; BACKGROUND-IMAGE: url(http://global.tianya.cn/global/gnav/images/icon_man.gif); BORDER-LEFT: 1px solid; WIDTH: 77px; COLOR: #000000; LINE-HEIGHT: 23px; BORDER-BOTTOM: 1px solid; BACKGROUND-REPEAT: no-repeat; HEIGHT: 23px; BACKGROUND-COLOR: #fff
}
#bottomNav .li_left_city {
	BORDER-RIGHT: #95b9dc 1px solid; PADDING-RIGHT: 7px; BACKGROUND-POSITION: left top; PADDING-LEFT: 10px; FLOAT: left; BACKGROUND-IMAGE: url(http://global.tianya.cn/global/gnav/images/foot_line.gif); PADDING-BOTTOM: 0px; LINE-HEIGHT: 23px; PADDING-TOP: 0px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 23px; TEXT-ALIGN: center
}
.bottomsel {
	BACKGROUND-COLOR: #2969a8
}
.bottomsel_cad {
	BORDER-RIGHT: #8da7c2 2px solid; BORDER-LEFT: #8da7c2 2px solid; BORDER-BOTTOM: #8da7c2 2px solid; BACKGROUND-COLOR: #ffffff
}
#bottomNav .li_logo {
	PADDING-LEFT: 16px; FONT-WEIGHT: bold; FLOAT: left; BACKGROUND-IMAGE: url(http://global.tianya.cn/global/gnav/images_v2/mymenu_off.gif); MARGIN-LEFT: 1px; WIDTH: 91px; COLOR: #fff; LINE-HEIGHT: 23px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 23px; TEXT-ALIGN: center
}
#bottomNav .li_logos {
	BORDER-RIGHT: #000000 1px solid; PADDING-LEFT: 16px; FONT-WEIGHT: bold; FLOAT: left; BACKGROUND-IMAGE: url(http://global.tianya.cn/global/gnav/images_v2/mymenu.gif); MARGIN-LEFT: 1px; BORDER-LEFT: #000000 1px solid; WIDTH: 89px; COLOR: #000000; LINE-HEIGHT: 23px; BORDER-BOTTOM: #000000 1px solid; BACKGROUND-REPEAT: no-repeat; HEIGHT: 23px; BACKGROUND-COLOR: #fff; TEXT-ALIGN: center
}
#bottomNav .bottom_mymenu {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; COLOR: #bbb; PADDING-TOP: 5px; BACKGROUND-COLOR: #eee; TEXT-ALIGN: right
}
#bottomNav .fimg_f {
	FLOAT: left
}
#bottomNav .fimg_r {
	FLOAT: right
}
.bottomNavfoot_border LI {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
.bottomNavfoot_border LI:hover {
	BACKGROUND-COLOR: #dae9f5
}
.bottomNavfoot_border LI:active {
	BACKGROUND-COLOR: #dae9f5
}
.bottomNavfoot_border {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; BORDER-LEFT: #000000 1px solid; WIDTH: auto; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: left
}
.bottomNavfoot_foot_border P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 7px 0px 0px; PADDING-TOP: 0px
}
.bottomNavfoot_foot_border_bor {
	BORDER-BOTTOM: #dddddd 1px solid
}
#bottomNav .subMenuTitle {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.sub_menu_top {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; COLOR: #fff; PADDING-TOP: 0px; HEIGHT: 26px; BACKGROUND-COLOR: #67a0d8; TEXT-ALIGN: left
}
.sub_menu_top H5 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 5px; FONT-WEIGHT: normal; FONT-SIZE: 12px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px
}
.sub_menu_top SPAN {
	FONT-WEIGHT: bold; FLOAT: right
}
.all_fri_list {
	HEIGHT: 25px
}
.all_fri_list H5 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 12px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 30px; PADDING-TOP: 0px
}
.all_fri_list SPAN {
	FLOAT: right
}
.all_fri_list_rig {
	FLOAT: right
}
.all_fri_list_cad {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: right bottom; PADDING-LEFT: 0px; BACKGROUND-IMAGE: url(http://global.tianya.cn/global/gnav/images/all_fri_list_cad_b.gif); PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 25px
}
.all_fri_list_cad H5 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 12px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 30px; PADDING-TOP: 0px
}
.all_fri_list_cad SPAN {
	FLOAT: right
}
.bottom_mymenu_title {
	PADDING-RIGHT: 6px; PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; CURSOR: default; COLOR: #555; PADDING-TOP: 0px
}
.all_meg_list {
	COLOR: #000000; BORDER-BOTTOM: #ddd 1px solid
}
.all_meg_list H5 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 12px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 30px; PADDING-TOP: 0px
}
.all_meg_list SPAN {
	FLOAT: right
}
.all_meg_list_f {
	BACKGROUND-POSITION: left bottom; BACKGROUND-IMAGE: url(http://global.tianya.cn/global/gnav/images/all_fri_list_cad_c.gif); BACKGROUND-REPEAT: no-repeat
}
.all_meg_list_f H5 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 12px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 30px; PADDING-TOP: 0px
}
.all_meg_list_f SPAN {
	FLOAT: right
}
.mymenu_fav_title {
	PADDING-RIGHT: 6px; BORDER-TOP: #ddd 1px solid; MARGIN-TOP: 5px; PADDING-LEFT: 3px; PADDING-BOTTOM: 0px; CURSOR: default; COLOR: #555; PADDING-TOP: 0px; HEIGHT: 20px
}
.mymenu_fav_title H5 {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 12px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 30px; PADDING-TOP: 0px
}
.mymenu_fav_title SPAN {
	FLOAT: right
}
.bottom_mymenu_title_on {
	PADDING-RIGHT: 6px; PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; CURSOR: default; COLOR: #555; PADDING-TOP: 0px; BACKGROUND-COLOR: #ffffff
}
.mymenu_fav_title_on {
	PADDING-RIGHT: 6px; BORDER-TOP: #ddd 1px solid; MARGIN-TOP: 5px; PADDING-LEFT: 3px; PADDING-BOTTOM: 0px; CURSOR: default; COLOR: #555; PADDING-TOP: 0px; HEIGHT: 20px; BACKGROUND-COLOR: #ffffff
}
.mymenu_fav_title_on H5 {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 12px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 30px; PADDING-TOP: 0px
}
.mymenu_fav_title_on SPAN {
	FLOAT: right
}
.bottom_line_menu {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: right bottom; PADDING-LEFT: 0px; BACKGROUND-IMAGE: url(http://global.tianya.cn/global/gnav/images/all_fri_list_cad_a.gif); PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BACKGROUND-REPEAT: no-repeat
}
.bottom_line_friend {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: right bottom; PADDING-LEFT: 0px; BACKGROUND-IMAGE: url(http://global.tianya.cn/global/gnav/images/all_fri_list_cad_b.gif); PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BACKGROUND-REPEAT: no-repeat
}
.bottom_line_dope {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: left bottom; PADDING-LEFT: 0px; BACKGROUND-IMAGE: url(http://global.tianya.cn/global/gnav/images/all_fri_list_cad_c.gif); PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BACKGROUND-REPEAT: no-repeat
}
#subForumSubMenu {
	WIDTH: 80px
}
#moreProductSubMenu {
	WIDTH: 80px
}
#servicesSubMenu {
	WIDTH: 100px
}
#mySubMenu {
	WIDTH: 200px
}
#subFourmList {
	WIDTH: 190px
}
#myFriendsList {
	WIDTH: 164px
}
#myMessageList {
	WIDTH: 250px
}
#submegList {
	WIDTH: 295px
}
#bottomNav .red {
	COLOR: #ff0000; FONT-FAMILY: Arial, Helvetica, sans-serif
}
#topNav .red {
	COLOR: #ff0000; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.all_meg_list A {
	COLOR: #ff0000
}
#bottomNav .white {
	COLOR: #fff; FONT-FAMILY: Arial, Helvetica,"宋体", sans-serif
}
#topNav .white {
	COLOR: #fff; FONT-FAMILY: Arial, Helvetica,"宋体", sans-serif
}
.gray5 {
	COLOR: #555
}
#bottomNav .blue {
	COLOR: #3d79b3
}
.line_b_s {
	BORDER-BOTTOM: #ccc 1px solid
}
.line_b_s_top {
	BORDER-TOP: #ccc 1px solid
}
.border_color {
	FONT-WEIGHT: normal; BORDER-LEFT-COLOR: #666; BORDER-BOTTOM-COLOR: #666; BORDER-TOP-COLOR: #666; BORDER-RIGHT-COLOR: #666
}
.border_color_top {
	BORDER-LEFT-COLOR: #004499; BORDER-BOTTOM-COLOR: #004499; BORDER-TOP-COLOR: #004499; BACKGROUND-COLOR: #f7f7f7; BORDER-RIGHT-COLOR: #004499
}
.txt_r {
	TEXT-ALIGN: right
}
.mp0 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#nav_bar_my_sub_menu {
	MARGIN: 0px
}
#nav_bar_my_sub_menu:hover {
	MARGIN: 0px; BACKGROUND-COLOR: #ffffff
}
#nav_bar_my_sub_menu:active {
	MARGIN: 0px; BACKGROUND-COLOR: #ffffff
}
#nav_bar_favor {
	MARGIN: 0px
}
#nav_bar_favor:hover {
	MARGIN: 0px; BACKGROUND-COLOR: #ffffff
}
#nav_bar_favor:active {
	MARGIN: 0px; BACKGROUND-COLOR: #ffffff
}
#myFriendsTitle {
	MARGIN: 0px
}
#myFriendsTitle:hover {
	MARGIN: 0px; BACKGROUND-COLOR: #ffffff
}
#myFriendsTitle:active {
	MARGIN: 0px; BACKGROUND-COLOR: #ffffff
}
#myMegTitle {
	MARGIN: 0px
}
#myMegTitle:hover {
	MARGIN: 0px; BACKGROUND-COLOR: #ffffff
}
#myMegTitle:active {
	MARGIN: 0px; BACKGROUND-COLOR: #ffffff
}
#msgMenuItem {
	FONT-SIZE: 12px; BACKGROUND-IMAGE: url(http://global.tianya.cn/global/gnav/images/i_mail_re.gif); COLOR: #ffffff; TEXT-DECORATION: none
}
#TB_window {
	FONT: 12px Arial, Helvetica, sans-serif; COLOR: #333333
}
#TB_secondLine {
	FONT: 10px Arial, Helvetica, sans-serif; COLOR: #666666
}
#TB_window A:link {
	COLOR: #666666
}
#TB_window A:visited {
	COLOR: #666666
}
#TB_window A:hover {
	COLOR: #000
}
#TB_window A:active {
	COLOR: #666666
}
#TB_window A:unknown {
	COLOR: #666666
}
#TB_overlay {
	Z-INDEX: 100; LEFT: 0px; WIDTH: 100%; POSITION: fixed; TOP: 0px; HEIGHT: 100%
}
.TB_overlayMacFFBGHack {
	BACKGROUND: url(http://multiverse.lamost.org/testbed/gcgroup/original/css/macFFBgHack.png)
}
.TB_overlayBG {
	FILTER: alpha(opacity=35); BACKGROUND-COLOR: #000; moz-opacity: 0.35; opacity: 0.35
}
 HTML #TB_overlay {
	POSITION: absolute; ; HEIGHT: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px')
}
#TB_window {
	BORDER-RIGHT: #525252 0px solid; BORDER-TOP: #525252 0px solid; DISPLAY: none; Z-INDEX: 102; BACKGROUND: #ffffff; LEFT: 50%; BORDER-LEFT: #525252 0px solid; COLOR: #000000; BORDER-BOTTOM: #525252 0px solid; POSITION: fixed; TOP: 50%; TEXT-ALIGN: left
}
 HTML #TB_window {
	; MARGIN-TOP: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px'); POSITION: absolute
}
#TB_window IMG#TB_Image {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #666 1px solid; DISPLAY: block; MARGIN: 15px 0px 0px 15px; BORDER-LEFT: #666 1px solid; BORDER-BOTTOM: #ccc 1px solid
}
#TB_caption {
	PADDING-RIGHT: 30px; PADDING-LEFT: 25px; FLOAT: left; PADDING-BOTTOM: 10px; PADDING-TOP: 7px; HEIGHT: 25px
}
#TB_closeWindow {
	PADDING-RIGHT: 25px; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 10px; PADDING-TOP: 11px; HEIGHT: 25px
}
#TB_closeAjaxWindow {
	PADDING-RIGHT: 10px; PADDING-LEFT: 0px; FLOAT: right; MARGIN-BOTTOM: 1px; PADDING-BOTTOM: 5px; PADDING-TOP: 7px; TEXT-ALIGN: right
}
#TB_ajaxWindowTitle {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; FLOAT: left; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px; LINE-HEIGHT: 27px; PADDING-TOP: 0px
}
#TB_title {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: white; HEIGHT: 27px; BACKGROUND-COLOR: #518ac4
}
#TB_ajaxWindowTitle {
	FONT-SIZE: 14px; COLOR: white
}
#TB_ajaxContent {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; OVERFLOW: auto; LINE-HEIGHT: 1.4em; PADDING-TOP: 0px; TEXT-ALIGN: left
}
.TB_modal#TB_ajaxContent {
	PADDING-RIGHT: 15px; PADDING-LEFT: 15px; PADDING-BOTTOM: 15px; PADDING-TOP: 15px
}
#TB_ajaxContent P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
#TB_load {
	DISPLAY: none; Z-INDEX: 103; LEFT: 50%; MARGIN: -6px 0px 0px -104px; WIDTH: 208px; POSITION: fixed; TOP: 50%; HEIGHT: 13px
}
 HTML #TB_load {
	; MARGIN-TOP: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px'); POSITION: absolute
}
#TB_HideSelect {
	Z-INDEX: 99; FILTER: alpha(opacity=0); LEFT: 0px; WIDTH: 100%; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; POSITION: fixed; TOP: 0px; HEIGHT: 100%; BACKGROUND-COLOR: #fff; BORDER-BOTTOM-STYLE: none; moz-opacity: 0; opacity: 0
}
 HTML #TB_HideSelect {
	POSITION: absolute; ; HEIGHT: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px')
}
#TB_iframeContent {
	CLEAR: both; MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px
}
#TB_window .ty_login_window_body A {
	COLOR: #2965b1; TEXT-DECORATION: none
}
#TB_window .ty_login_window_body A:link {
	COLOR: #2965b1
}
#TB_window .ty_login_window_body A:hover {
	COLOR: #ff3300; TEXT-DECORATION: underline
}
#TB_window .ty_login_window_body A:visited {
	COLOR: #2965b1
}
.ty_login_window_body UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.ty_login_window_body IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
.ty_login_window_body FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.ty_login_window_body .f14 {
	FONT-SIZE: 14px
}
.ty_login_window_body {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.ty_login_window_body H2 {
	BORDER-RIGHT: #3d5f80 1px solid; BORDER-TOP: #3d5f80 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: #518ac4; MARGIN: 0px; BORDER-LEFT: #3d5f80 1px solid; COLOR: white; BORDER-BOTTOM: #3d5f80 1px solid
}
.ty_login_window_body H2 SPAN {
	PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 10px; PADDING-BOTTOM: 7px; PADDING-TOP: 6px
}
.ty_login_window_body .pop_title {
	BORDER-RIGHT: #3d5f80 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #3d5f80 1px solid; PADDING-LEFT: 8px; BACKGROUND: #518ac4; PADDING-BOTTOM: 8px; MARGIN: 0px; BORDER-LEFT: #3d5f80 1px solid; PADDING-TOP: 8px; BORDER-BOTTOM: #3d5f80 1px solid; HEIGHT: 20px
}
.ty_login_window_body .pop_title H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 14px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: white; PADDING-TOP: 0px
}
.ty_login_window_body .pop_title SPAN {
	MARGIN-TOP: 2px; FONT-WEIGHT: bold; FONT-SIZE: 12px; FLOAT: right; COLOR: white; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.ty_login_window_body .dialog_body {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; FONT-SIZE: 14px; BACKGROUND: #fff; PADDING-BOTTOM: 20px; LINE-HEIGHT: 22px; PADDING-TOP: 20px
}
.ty_login_window_body .pop_login {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; PADDING-BOTTOM: 20px; PADDING-TOP: 20px
}
.ty_login_window_body .dialog_buttons {
	PADDING-RIGHT: 8px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 8px; BACKGROUND: #f0f0f0; PADDING-BOTTOM: 8px; PADDING-TOP: 8px; TEXT-ALIGN: right
}
.ty_login_window_body .login_users {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; PADDING-TOP: 0px
}
.ty_login_window_body .login_users UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.ty_login_window_body .login_users UL LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 4px; MARGIN: 0px; VERTICAL-ALIGN: middle; PADDING-TOP: 4px; LIST-STYLE-TYPE: none
}
.ty_login_window_body .login_users LI SPAN {
	PADDING-LEFT: 4px; FONT-SIZE: 12px
}
#topguideloginform .login_input {
	WIDTH: 120px
}
.ty_login_window_body INPUT.tianya_btn_55 {
	FONT-SIZE: 14px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 2px; WIDTH: 55px; CURSOR: pointer; COLOR: #fff; BORDER-TOP-STYLE: none; LINE-HEIGHT: 20px; MARGIN-RIGHT: 3px; PADDING-TOP: 2px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 28px; TEXT-ALIGN: center; BORDER-BOTTOM-STYLE: none
}
.ty_login_window_body INPUT.tianya_btn_55 {
	BACKGROUND-IMAGE: url(http://global.tianya.cn/global/gnav/images_v2/button.gif); COLOR: #fff; BACKGROUND-REPEAT: no-repeat
}
.ty_login_window_body INPUT .tianya_btn_55:hover {
	FONT-SIZE: 14px; COLOR: #fff
}
