TD {
	COLOR: #FFFFFF
}
BODY {
	COLOR: #000000;
	background-color: #666666;
}
DIV {
	COLOR: #FFFFFF;
	letter-spacing: inherit;
}
.body_bg {
	MARGIN: 0px auto;
	WIDTH: 800px;
	background-color: #000000;
}
A:link {
	COLOR: #CC66FF;
	FONT-FAMILY: arial;
	TEXT-DECORATION: none
}
A:visited {
	COLOR: #CC66FF;
	FONT-FAMILY: arial;
	TEXT-DECORATION: none
}
A:hover {
	COLOR: #99FF00;
	TEXT-DECORATION: none
}
.page {
	BORDER-TOP: #ddd 1px dashed
}
.page_num {
	BORDER-RIGHT: #ddd 1px solid; BORDER-TOP: #ddd 1px solid; BORDER-LEFT: #ddd 1px solid; BORDER-BOTTOM: #ddd 1px solid
}
.page_num:link {
	BORDER-RIGHT: #ddd 1px solid; BORDER-TOP: #ddd 1px solid; BORDER-LEFT: #ddd 1px solid; BORDER-BOTTOM: #ddd 1px solid
}
.page_num:visited {
	BORDER-RIGHT: #ddd 1px solid; BORDER-TOP: #ddd 1px solid; BORDER-LEFT: #ddd 1px solid; BORDER-BOTTOM: #ddd 1px solid
}
.page_num:hover {
	BORDER-RIGHT: #ddd 1px solid; BORDER-TOP: #ddd 1px solid; BORDER-LEFT: #ddd 1px solid; BORDER-BOTTOM: #ddd 1px solid
}
.line_das {
	BORDER-BOTTOM: #ccc 1px dashed
}
.line_sol {
	BORDER-BOTTOM: #ccc 1px solid
}
.line_col {
	BORDER-LEFT-COLOR: #ccc; BORDER-BOTTOM-COLOR: #ccc; BORDER-TOP-COLOR: #ccc; BORDER-RIGHT-COLOR: #ccc
}
.bg_col {
	BACKGROUND-COLOR: #eee
}
.pick {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; BORDER-BOTTOM: #ccc 1px solid
}
#top_area {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND-IMAGE: none; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; BACKGROUND-COLOR: #e7f1f9
}
#top_area .ty_id {
	MARGIN: 20px 30px 5px; COLOR: #184378
}
#top_area .my_site {
	
}
#main_area {
	
}
.fun {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; BORDER-BOTTOM: #ccc 1px solid
}
.fun A:link {
	COLOR: #000
}
.fun A:visited {
	COLOR: #000
}
.menu {
	MARGIN-TOP: 10px;
	HEIGHT: 32px;
	BACKGROUND-COLOR: #2E2E2E;
	border-top-width: 1px;
	border-top-style: solid;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
}
.menu UL LI {
	BACKGROUND-POSITION: right center;
	COLOR: #ffffff;
	HEIGHT: 12px
}
.menu UL LI A {
	FONT-SIZE: 14px; COLOR: #000
}
.menu UL LI A:link {
	FONT-SIZE: 18px;
	COLOR: #FFFFFF
}
.menu UL LI A:visited {
	FONT-SIZE: 18px;
	COLOR: #FFFFFF
}
.menu .s {
	BACKGROUND-COLOR: #fff
}
.menu .s A {
	COLOR: #000
}
.menu .s A:link {
	COLOR: #000
}
.menu .s A:hover {
	COLOR: #000
}
.menu .s A:visited {
	COLOR: #000
}
.menu_line {
	BORDER-BOTTOM: #ddd 5px solid
}
.menu_sec {
	BACKGROUND-IMAGE: url(http://multiverse.lamost.org/testbed/gcgroup/original/images/menu2_bg.gif); POSITION: relative; HEIGHT: 26px
}
.menu_thi .m {
	BACKGROUND-COLOR: #f7f7f7
}
.menu_u {
	COLOR: #0a768d
}
.menu_u A {
	COLOR: #0a768d
}
.menu_u A:link {
	COLOR: #0a768d
}
.menu_u A:visited {
	COLOR: #0a768d
}
.menu_s {
	COLOR: #fff; BACKGROUND-COLOR: #0a768d
}
.menu_s A {
	COLOR: #fff; BACKGROUND-COLOR: #0a768d
}
.menu_s A:link {
	COLOR: #fff; BACKGROUND-COLOR: #0a768d
}
.menu_s A:visited {
	COLOR: #fff; BACKGROUND-COLOR: #0a768d
}
.left_menu {
	COLOR: #004499
}
.left_menu A:link {
	COLOR: #004499
}
.left_menu A:visited {
	COLOR: #004499
}
.box {
	border-left-width: 3px;
	border-top-width: 3px;
	border-right-width: 3px;
	border-bottom-width: 3px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #002A44;
	border-right-color: #002A44;
	border-bottom-color: #002A44;
	border-left-color: #002A44;
}
.box .box_top {
	BACKGROUND-COLOR: #002A44;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-top-color: #002A44;
	border-right-color: #002A44;
	border-bottom-color: #002A44;
	border-left-color: #002A44;
	border-top-width: 1px;
	border-right-width: 1px;
	border-left-width: 1px;
	background-repeat: repeat;
}
.box .box_top .box_top_left {
	FONT-SIZE: 14px;
	COLOR: #FFFFFF
}
.box .box_foot {
	BACKGROUND-POSITION: left bottom; BACKGROUND-IMAGE: none; BACKGROUND-REPEAT: no-repeat
}
.box1 {
	
}
.box1 .box_top {
	BORDER-TOP: #bdcad8 1px solid; BACKGROUND-COLOR: #e7f1f9
}
.box1 .box_top .box_top_left {
	FONT-SIZE: 14px; COLOR: #004499
}
.box1 .box_foot {
	BACKGROUND-POSITION: left bottom; BACKGROUND-IMAGE: none; BACKGROUND-REPEAT: no-repeat
}
.box2 {
	
}
.box2 .box_top {
	
}
.box2 .box_top .box_top_left {
	FONT-SIZE: 14px; COLOR: #004499
}
.box2 .box_foot {
	BACKGROUND-POSITION: left bottom; BACKGROUND-IMAGE: none; BACKGROUND-REPEAT: no-repeat
}
.card_box {
	BORDER-BOTTOM: #70a9d9 3px solid
}
.card_box UL LI {
	BORDER-RIGHT: #70a9d9 1px solid; BORDER-TOP: #70a9d9 1px solid; BORDER-LEFT: #70a9d9 1px solid
}
.card_box_u {
	BACKGROUND-COLOR: #f9f9f9
}
.card_box_s {
	BACKGROUND-COLOR: #d8ecfa
}
.card_box_s A:link {
	COLOR: #004499
}
.card_box_s A:hover {
	COLOR: #004499
}
.card_box_s A:visited {
	COLOR: #004499
}
.list_fir UL LI A {
	FONT-SIZE: 14px
}
.list_sec UL LI A {
	FONT-SIZE: 14px
}
.list_s {
	BORDER-RIGHT: #ccc 0px solid; BORDER-TOP: #ccc 0px solid; BORDER-LEFT: #ccc 0px solid; BORDER-BOTTOM: #ccc 0px solid; BACKGROUND-COLOR: #eee
}
.list_opt_s {
	BORDER-RIGHT: #ccc 0px solid; BORDER-TOP: #ccc 0px solid; BORDER-LEFT: #ccc 0px solid; BORDER-BOTTOM: #ccc 0px solid; BACKGROUND-COLOR: #eee
}
.list_u {
	
}
.list_opt_u {
	
}
.list_art_s {
	BORDER-RIGHT: #ccc 0px solid; BORDER-TOP: #ccc 0px solid; BORDER-LEFT: #ccc 0px solid; BORDER-BOTTOM: #ccc 0px solid; BACKGROUND-COLOR: #eee
}
.mag_tab {
	BORDER-BOTTOM: #70a9d9 1px solid; BACKGROUND-COLOR: #e4f2fb
}
.my_place UL LI {
	FONT-SIZE: 14px
}
.my_id {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #ff6600; LINE-HEIGHT: 18px
}
.title_b {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; MARGIN: 6px; COLOR: #779d03
}
.mail_top .m_top_left {
	BACKGROUND-IMAGE: none; COLOR: #fff; BACKGROUND-COLOR: #70a9d9
}
.mail_to_oth {
	
}
.mail_to_oth H2 {
	COLOR: #049
}
.mail_to_oth H2 A {
	COLOR: #049
}
.mail_to_me {
	BACKGROUND-COLOR: #eee
}
.mail_to_me H2 {
	COLOR: #006600
}
.mail_to_me H2 A {
	COLOR: #006600
}
