<div class="disqus-lazy" id="comment-lazy">
<div class="disqus-lazy-button-center">
    <p>Comment below or directly on GitHub in the corresponding thread by clicking on the link of "x comments".</p>
</div>


<script src="https://giscus.app/client.js"
        data-repo="emptymalei/emptymalei.github.io"
        data-repo-id="MDEwOlJlcG9zaXRvcnkyMTE3NTgyOA=="
        data-category="Comments"
        data-category-id="DIC_kwDOAUMeFM4CAfmD"
        data-mapping="pathname"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-theme="light"
        data-lang="en"
        crossorigin="anonymous"
        async>
</script>

</div>

