<head>
  <!-- Canonical link to help search engines -->
  <link rel="canonical" href="{{ site.baseurl }}{{ page.url }}">

  <!-- Basic meta elements -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <!--   Dublin Core metadata for Zotero -->
  <meta name="DC.title" content="{{ page.title }}" />
  <meta name="DC.creator" content="{{ page.author }}" />
  <meta name="DC.date" content="2016" />
  <meta name="DC.rights" content="{{ page.rights }}" />
  <meta name="DC.source" content="{{ site.title }}" />


  <title>
    {% if page.title == "Home" %}
      {{ site.title }}
    {% else %}
      {{ page.title }}
    {% endif %}
  </title>

  <!-- CSS links -->
  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/poole.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/syntax.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/lanyon.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/ed.css">

  <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/balloon.min.css">

  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="180x180" href="{{ site.baseurl }}/public/apple-touch-icon-precomposed.png">
  <link rel="shortcut icon" href="{{ site.baseurl }}/public/favicon.ico">

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">

  <!-- hypothesis.js -->
  <!--  <script async defer src="https://hypothes.is/embed.js"></script> -->

  <script src="{{ site.baseurl }}/assets/js/jquery-3.1.0.min.js"></script>

  <!-- Random TIL -->
  <script type="text/javascript">

    function generateRandomPosts()
    {
        $.getJSON("{{ site.baseurl }}/til/til.json", function(data) {
            console.log("[til.json loaded for random posts]");

            var postsCount = data.length;
            var posts = data;

            var randomIndexUsed = [];
            var counter = 0;
            var numberOfPosts = 1; //Number of posts to be displayed

            var divRandomPosts = $("#random_til");

            //divRandomPosts.append('<h2>Random TIL</h2><hr />');

            while (counter < numberOfPosts)
            {
                var randomIndex = Math.floor(Math.random() * postsCount);

                if (randomIndexUsed.indexOf(randomIndex) == "-1")
                {
                    var postHREF = posts[randomIndex].href;
                    var postTitle = posts[randomIndex].title;
                    //var postSummary = posts[randomIndex].summary;

                    if (counter == (numberOfPosts - 1))
                    {
                        divRandomPosts.append('<li style="text-align:center;list-style-type:none;"><a href="' + postHREF + '">' + postTitle + '</a></li>');
                    }
                    else
                    {
                        divRandomPosts.append('<li><a href="' + postHREF + '">' + postTitle + '</a></li>');
                    }

                    randomIndexUsed.push(randomIndex);

                    counter++;
                }
            }
        });
    }

    $(document).ready(function() {
        generateRandomPosts();
    });

</script>


  <!-- Random Posts -->
 <!--  <script type="text/javascript">

    function generateRandomPosts()
    {
        $.getJSON("/search.json", function(data) {
            console.log("[search.json loaded for random posts]");

            var postsCount = data.length;
            var posts = data;

            var randomIndexUsed = [];
            var counter = 0;
            var numberOfPosts = 2; //Number of posts to be displayed

            var divRandomPosts = $("#random_posts");

            //divRandomPosts.append('<h2>Random Posts</h2><hr />');

            while (counter < numberOfPosts)
            {
                var randomIndex = Math.floor(Math.random() * postsCount);

                if (randomIndexUsed.indexOf(randomIndex) == "-1")
                {
                    var postHREF = posts[randomIndex].href;
                    var postTitle = posts[randomIndex].title;

                    if (counter == (numberOfPosts - 1))
                    {
                        divRandomPosts.append('<p><a href="' + postHREF + '">' + postTitle + '</a></p>');
                    }
                    else
                    {
                        divRandomPosts.append('<p><a href="' + postHREF + '">' + postTitle + '</a></p><hr />');
                    }

                    randomIndexUsed.push(randomIndex);

                    counter++;
                }
            }
        });
    }

    $(document).ready(function() {
        generateRandomPosts();
    });

</script> -->
  
</head>
