<!-- Random TIL -->
<script type="text/javascript">

function generateRandomPosts()
{
     $.getJSON("{{ site.baseurl }}/totd/totd.json", function(data) {
         console.log("[totd.json loaded for random posts]");

         var postsCount = data.length;
         var posts = data;

         var randomIndexUsed = [ ];
         var counter = 0;
         var numberOfPosts = 1; //Number of posts to be displayed

         var divRandomPosts = $("#random_totd");

         //divRandomPosts.append('<h2>Random TIL</h2><hr />');

         while (counter < numberOfPosts)
         {
             var randomIndex = Math.floor(Math.random() * postsCount);

             if (randomIndexUsed.indexOf(randomIndex) == "-1")
             {
                 var postHREF = posts[randomIndex].href;
                 var postTitle = posts[randomIndex].title;
                 //var postSummary = posts[randomIndex].summary;

                 if (counter == (numberOfPosts - 1))
                 {
                     divRandomPosts.append('<li style="text-align:center;list-style-type:none;"><a href="' + postHREF + '">' + postTitle + '</a></li>');
                 }
                 else
                 {
                     divRandomPosts.append('<li><a href="' + postHREF + '">' + postTitle + '</a></li>');
                 }

                 randomIndexUsed.push(randomIndex);

                 counter++;
             }
         }
     });
}

$(document).ready(function() {
     generateRandomPosts();
});

</script>


<!-- Random Posts -->
<!--  <script type="text/javascript">

function generateRandomPosts()
{
     $.getJSON("/search.json", function(data) {
         console.log("[search.json loaded for random posts]");

         var postsCount = data.length;
         var posts = data;

         var randomIndexUsed = [ ];
         var counter = 0;
         var numberOfPosts = 2; //Number of posts to be displayed

         var divRandomPosts = $("#random_posts");

         //divRandomPosts.append('<h2>Random Posts</h2><hr />');

         while (counter < numberOfPosts)
         {
             var randomIndex = Math.floor(Math.random() * postsCount);

             if (randomIndexUsed.indexOf(randomIndex) == "-1")
             {
                 var postHREF = posts[randomIndex].href;
                 var postTitle = posts[randomIndex].title;

                 if (counter == (numberOfPosts - 1))
                 {
                     divRandomPosts.append('<p><a href="' + postHREF + '">' + postTitle + '</a></p>');
                 }
                 else
                 {
                     divRandomPosts.append('<p><a href="' + postHREF + '">' + postTitle + '</a></p><hr />');
                 }

                 randomIndexUsed.push(randomIndex);

                 counter++;
             }
         }
     });
}

$(document).ready(function() {
     generateRandomPosts();
});

</script> -->
