<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description-side-bar }}</p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}/">Home</a>

    {% for link in site.data.navigation %}
    {% if link.url contains 'http' %}
        {% assign domain = '' %}
        {% else %}
        {% assign domain = site.url %}
    {% endif %}
        <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %}target="_blank"{% endif %}>{{ link.title }}</a>
  {% endfor %}

    {% comment %}
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.
    {% endcomment %}

    {% assign pages_list = site.pages | sort:"url" %}
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout == "page" %}
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ site.baseurl }}{{ node.url }}">{{ node.title }}</a>
        {% endif %}
      {% endif %}
    {% endfor %}

  </nav>

  <div class="sidebar-item" style="display:flex;justify-content:space-between;">

    {% if site.owner.cv == true %}
    <a class="fa" data-balloon="&nbsp;&nbsp;My Resume & CV" data-balloon-pos="up" href="/resume"><i class="fa fa-graduation-cap fa-lg" aria-hidden="true"></i></a>
    {% endif %}

    {% if site.owner.github != null %}
      <a class="fa" data-balloon="@{{ site.owner.github }}" data-balloon-pos="up" href="http://github.com/{{ site.owner.github }}"><i class="fa fa-github fa-lg" aria-hidden="true"></i></a>
    {% endif %}

    {% if site.owner.linkedin != null %}
    <a class="fa" data-balloon="@{{ site.owner.linkedin }}" data-balloon-pos="up" href="https://www.linkedin.com/in/{{ site.owner.linkedin }}"> <i class="fa fa-linkedin fa-lg" aria-hidden="true"></i></a>
    {% endif %}

    {% if site.owner.weibo != null %}
    <a class="fa" data-balloon="@{{ site.owner.weibo-display }}" data-balloon-pos="up" href="http://weibo.com/{{ site.owner.weibo }}"> <i class="fa fa-weibo fa-lg" aria-hidden="true"></i></a>
    {% endif %}

    {% if site.owner.wechat != null %}
    <a class="fa" data-balloon="@{{ site.owner.wechat }}&nbsp;&nbsp;" data-balloon-pos="up"><i class="fa fa-wechat fa-lg" aria-hidden="true"></i></a>
    {% endif %}

  </div>

  <div class="sidebar-item">
    <p>
      &copy; {{ site.time | date: '%Y' }} {{ site.owner.name }}.
    </p>
  </div>
</div>
