<script src="{{ site.baseurl }}/assets/webcomponents/webcomponents-lite.min.js"></script>
<link rel="import" href="{{ site.baseurl }}/assets/webcomponents/zero-md_files/zero-md.html">
<!-- <link rel="stylesheet" href="{{ site.baseurl }}/assets/webcomponents/markdown-themes-default.css"> -->
<!-- <link rel="stylesheet" href="{{ site.baseurl }}/assets/webcomponents/highlight-themes-default.css"> -->


<style>
  /* Edit your header styles here */

  .md-html { min-width: 200px; max-width: 100%; margin-top: 5em auto 5em auto; padding: 1em; }
</style>
