* {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
A {
	COLOR: #272727; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A:hover {
	TEXT-DECORATION: underline
}
IMG {
	BORDER-BOTTOM-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-TOP-STYLE: none; BORDER-LEFT-STYLE: none
}
FIELDSET {
	BORDER-BOTTOM-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-TOP-STYLE: none; BORDER-LEFT-STYLE: none
}
UL {
	LIST-STYLE-TYPE: none
}
H1 {
	FONT-SIZE: 1.3em; FONT-WEIGHT: bold
}
H2 {
	FONT-SIZE: 1.3em; FONT-WEIGHT: bold
}
H3 {
	FONT-SIZE: 1.3em; FONT-WEIGHT: bold
}
H4 {
	FONT-SIZE: 1.3em; FONT-WEIGHT: bold
}
H5 {
	FONT-SIZE: 1.3em; FONT-WEIGHT: bold
}
H6 {
	FONT-SIZE: 1.3em; FONT-WEIGHT: bold
}
BODY {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Tahoma, Verdana, sans-serif; BACKGROUND: url(http://multiverse.lamost.org/testbed/historyguide1/images/bg.jpg) #fff no-repeat -16px 0px; COLOR: #272727; FONT-SIZE: large; PADDING-TOP: 10px
}
#wrapper {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 48px; WIDTH: 957px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: left; FONT-SIZE: 110%; OVERFLOW: hidden; PADDING-TOP: 20px
}
#wrapper P {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
#wrapper IMG {
	MARGIN: 0px 10px 10px 0px; FLOAT: left
}
#wrapper STRONG {
	FONT-SIZE: 1em; FONT-WEIGHT: bold
}
#wrapper SMALL {
	FONT-STYLE: normal; FONT-SIZE: 1em; FONT-WEIGHT: normal
}
#wrapper EM {
	FONT-STYLE: italic; FONT-SIZE: 1em
}
#sidebar {
	LINE-HEIGHT: 1.5em; MARGIN: 0px 85px 0px 0px; WIDTH: 182px; FLOAT: left; FONT-SIZE: 108%
}
#sidebar A {
	FONT-WEIGHT: normal
}
#sidebar A:hover {
	BORDER-BOTTOM: #f05392 1px solid; COLOR: #14acac; TEXT-DECORATION: none
}
#sidebar H1 {
	PADDING-BOTTOM: 30px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: block; HEIGHT: 122px; PADDING-TOP: 0px
}
#sidebar H1 A {
	WIDTH: 111px; DISPLAY: block; BACKGROUND: url(http://multiverse.lamost.org/testbed/historyguide1/img/logo.jpg) no-repeat 0px 0px; HEIGHT: 122px
}
#sidebar H1 A:hover {
	BORDER-BOTTOM-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-TOP-STYLE: none; BORDER-LEFT-STYLE: none
}
#sidebar H1 A SPAN {
	DISPLAY: none
}
#sidebar H2 {
	PADDING-BOTTOM: 10px; LINE-HEIGHT: 16px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Arial, Tahoma, sans-serif; FONT-SIZE: 135%; FONT-WEIGHT: bold; PADDING-TOP: 0px
}
#sidebar H2 SPAN {
	DISPLAY: none
}
#sidebar H2.head_co_robimy {
	BACKGROUND: url(http://multiverse.lamost.org/testbed/historyguide1/img/h_co_robimy.gif) no-repeat 0px 0px; HEIGHT: 16px
}
#sidebar H2.head_dolacz_do_nas {
	BACKGROUND: url(http://multiverse.lamost.org/testbed/historyguide1/img/h_dolacz_do_nas.gif) no-repeat 0px 0px; HEIGHT: 16px
}
#sidebar UL {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
#sidebar UL LI {
	PADDING-BOTTOM: 7px; PADDING-LEFT: 13px; PADDING-RIGHT: 0px; ZOOM: 1; BACKGROUND: url(http://multiverse.lamost.org/testbed/historyguide1/img/bullet11.gif) no-repeat 0px 6px; OVERFLOW: hidden; PADDING-TOP: 0px
}
#sidebar UL LI.item1 {
	BACKGROUND-IMAGE: url(http://multiverse.lamost.org/testbed/historyguide1/img/bullet11.gif)
}
#sidebar UL LI.item2 {
	BACKGROUND-IMAGE: url(http://multiverse.lamost.org/testbed/historyguide1/img/bullet12.gif)
}
#sidebar UL LI.item3 {
	BACKGROUND-IMAGE: url(http://multiverse.lamost.org/testbed/historyguide1/img/bullet13.gif)
}
#sidebar UL LI.item4 {
	BACKGROUND-IMAGE: url(http://multiverse.lamost.org/testbed/historyguide1/img/bullet14.gif)
}
#sidebar UL.cross_list LI {
	BACKGROUND: url(http://multiverse.lamost.org/testbed/historyguide1/img/bullet21.gif) no-repeat 0px 4px
}
#sidebar UL.cross_list LI.item1 {
	BACKGROUND-IMAGE: url(http://multiverse.lamost.org/testbed/historyguide1/img/bullet21.gif)
}
#sidebar UL.cross_list LI.item2 {
	BACKGROUND-IMAGE: url(http://multiverse.lamost.org/testbed/historyguide1/img/bullet22.gif)
}
#sidebar UL.cross_list LI.item3 {
	BACKGROUND-IMAGE: url(http://multiverse.lamost.org/testbed/historyguide1/img/bullet23.gif)
}
#main {
	MARGIN: 15px 130px 0px; WIDTH: 690px; FLOAT: center; COLOR: #9ba5a5
}
#container {
	PADDING-BOTTOM: 100px; LINE-HEIGHT: 1.7em; PADDING-LEFT: 0px; WIDTH: 300px; PADDING-RIGHT: 0px; FLOAT: left; HEIGHT: 90px; OVERFLOW: hidden; PADDING-TOP: 10px
}
UL#navi {
	MARGIN: 0px 0px 15px; WIDTH: 690px; FLOAT: left; CLEAR: both
}
UL#navi LI.prev {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 50px; PADDING-RIGHT: 0px; FLOAT: left; PADDING-TOP: 9px
}
UL#navi LI.prev A {
	WIDTH: 31px; DISPLAY: block; BACKGROUND: url(http://multiverse.lamost.org/testbed/historyguide1/img/prev_arrow.gif) no-repeat 0px 0px; HEIGHT: 30px
}
UL#navi LI.next {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 9px; PADDING-RIGHT: 0px; FLOAT: left; PADDING-TOP: 20px
}
UL#navi LI.next A {
	WIDTH: 31px; DISPLAY: block; BACKGROUND: url(http://multiverse.lamost.org/testbed/historyguide1/img/next_arrow.gif) no-repeat 0px 0px; HEIGHT: 30px
}
UL#navi LI A SPAN {
	DISPLAY: none
}
DIV.info_box {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 1.5em; PADDING-LEFT: 0px; WIDTH: 196px; PADDING-RIGHT: 20px; FLOAT: left; FONT-SIZE: 105%; PADDING-TOP: 0px
}
#wrapper DIV.info_box P {
	PADDING-TOP: 30px
}
#wrapper DIV.info_box IMG {
	MARGIN: 0px 5px 0px 0px
}
DIV.first.info_box {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 12px; WIDTH: 225px; PADDING-RIGHT: 35px; PADDING-TOP: 0px
}
DIV.last.info_box {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
#wrapper DIV.last.info_box P {
	PADDING-TOP: 22px
}
#wrapper DIV.first.info_box P {
	PADDING-TOP: 22px
}
#wrapper DIV.first.info_box A {
	COLOR: #f05392
}
#wrapper DIV.info_box A:hover {
	BORDER-BOTTOM: #f05392 1px solid; TEXT-DECORATION: none
}
#wrapper DIV.first.info_box A:hover {
	BORDER-BOTTOM: #ade02c 1px solid
}
#sub_col {
	MARGIN: 55px 0px 0px 0px; WIDTH: 240px; FLOAT: left; OVERFLOW: hidden
}
#sub_col H2 {
	PADDING-BOTTOM: 10px; LINE-HEIGHT: 1em; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; LETTER-SPACING: 2px; COLOR: #272727; FONT-SIZE: 24px; FONT-WEIGHT: normal; PADDING-TOP: 15px
}
#sub_col H2 SMALL {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: block; LETTER-SPACING: 0px; FONT-SIZE: 12px; PADDING-TOP: 5px
}
#sub_col H2 SMALL A {
	COLOR: #46c8c8; FONT-WEIGHT: normal
}
#sub_col DIV {
	DISPLAY: none
}
#sub_col A:hover {
	BORDER-BOTTOM: #f05392 1px solid; TEXT-DECORATION: none
}
#main_col {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: 500px; PADDING-RIGHT: 0px; FLOAT: right; OVERFLOW: hidden; PADDING-TOP: 0px
}
#gallery {
	WIDTH: 100%; HEIGHT: 450px
}
.left {
	FLOAT: left
}
.right {
	FLOAT: right
}
IMG.left {
	MARGIN: 0px 0px 10px 10px; FLOAT: left !important
}
IMG.right {
	MARGIN: 0px 10px 10px 0px; FLOAT: right !important
}
IMG.center {
	MARGIN: 0px auto 10px; DISPLAY: block; FLOAT: none !important
}
DIV.center {
	MARGIN: 0px auto; DISPLAY: block; FLOAT: none !important
}
DIV.center IMG {
	MARGIN: 0px
}
.aright {
	TEXT-ALIGN: right
}
.acenter {
	TEXT-ALIGN: center
}
DIV.hr_line {
	LINE-HEIGHT: 0; MARGIN: 0px auto; DISPLAY: block; BACKGROUND: url(http://multiverse.lamost.org/testbed/historyguide1/img/dott.gif) repeat-x -1px -1px; HEIGHT: 20px; CLEAR: both; FONT-SIZE: 0px
}
