---
layout: default
---

<div id="main" role="main">			
	<article class="wrap" itemscope itemtype="http://schema.org/Article">
		{% if page.image.feature %}
		<div class="page-feature">
			<div class="page-image">
				<img src="{{ site.url }}/images/{{ page.image.feature }}" class="page-feature-image" alt="{{ page.title }}" itemprop="image">
				{% if page.image.credit %}{% include image-credit.html %}{% endif %}
			</div><!-- /.page-image -->
		</div><!-- /.page-feature -->
		{% endif %}
		{% if page.categories %} {% case condition %} {% when lang == cn %} {% include breadcrumbs-cn.html %} {% else %} {% include breadcrumbs.html %} {% endcase %} {% endif %}
		<div class="page-title">
			<h1>{{ page.title }}</h1>
		</div>
		<div class="inner-wrap">
			<nav class="toc"></nav><!-- /.toc -->
			<div id="content" class="page-content" itemprop="articleBody">
				{{ content }}
				<hr />
				<footer class="page-footer">
					{% if page.categories %} {% if sharelang == null %} {% case condition %} {% when lang == cn %} {% include page-author-cn.html %} {% else %} {% include page-author.html %} {% endcase %} {% elsif sharelang == cn %}  {% include page-author-cn.html %}  {% elsif sharelang == en %}  {% include page-author-en.html %}  {% endif %}  {% endif %}
					{% if page.share != false %}{% case condition %} {% when lang == cn %} {% include share-this-cn.html %} {% else lang == cn %} {% include share-this.html %} {% endcase %}{% endif %}
					{% case condition %} {% when lang == cn %} {% include page-meta-cn.html %} {% else %} {% include page-meta.html %} {% endcase %}
				</footer><!-- /.footer -->
				<aside>
					{% if page.comments == true %}{% include comments.html %}{% endif %}
				</aside>
			</div><!-- /.content -->
		</div><!-- /.inner-wrap -->
		{% if page.ads == true %}<div class="ads">{% include advertising.html %}</div><!-- /.ads -->{% endif %}
	</article><!-- ./wrap -->
</div><!-- /#main -->