html, body, form, fieldset, table, tr, td, img {
    margin: 0;
    padding: 0;
    font: 100%/150% calibri,helvetica,sans-serif;
    letter-spacing:1px;
}

input, button, select, textarea, optgroup, option {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
}

.header .pure-menu {
  border-bottom:2px solid black;
}

h1 {
letter-spacing:1px;
    text-align:center;
    margin-left: auto;
    margin-right:auto;
}

h2 {
  letter-spacing:1px;
    text-align:center;
    margin-left: auto;
    margin-right:auto;
}

.galleria-info-title {
  letter-spacing: 2px !important;
}
.galleria-info-description {
  letter-spacing: 2px !important;
}
.sd {
  margin-left:auto;
  margin-right:auto;
}
.abq {
  margin-left:auto;
  margin-right:auto;
}
