html, body, form, fieldset, table, tr, td, img {
    margin: 0;
    padding: 0;
    font: 100%/150% calibri,helvetica,sans-serif;
}

input, button, select, textarea, optgroup, option {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
}

.header .pure-menu {
  border-bottom:2px solid black;
}

h1 {
    font-size: 2.5em; /* 40px/16=2.5em */
    text-align:center;
    margin-left: auto;
    margin-right:auto;
}

h2 {
    font-size: 1.875em; /* 30px/16=1.875em */
}

.galleria-info-title {
  letter-spacing: 2px !important;
}
.galleria-info-description {
  letter-spacing: 2px !important;
}
