@charset "UTF-8";
/* CSS Document */

* {
    margin:0;
    padding:0;
}
body {
    background: #fff;
    font-size: 10px;
    letter-spacing: 1px;
    width: 20000px;
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
}
h2.title_name {
	font-family: normal Georgia,'Times New Roman',Times,serif;
	font-weight: normal;
	font-size: 4em;
	margin: 0;
	padding: 50px 0 20px 50px;
	color: #AAA;
}
h2.title_name span {
	font-family: normal Georgia,'Times New Roman',Times,serif;
	color: #f9f66d;
	font-size: 0.9em;
}
h2.title_name small {
	color: #555;
	display: block;
	font-family: normal Verdana,Arial,Helvetica,sans-serif;
	font-size: 0.2em;
	letter-spacing: 1.0em;
	text-transform: uppercase;
	padding-left: 5px;
}
/* CONTAINER */
.section {
	width: 4000px;
    margin: 0px;
    bottom: 0px;
    float: left;
    height: 100%;
	font-size: 19px;
}
.section h2 {
    margin:50px 0px 30px 50px;
	font-size:22px;
	color:#1E5A8C;
}
.section p {
	width: 910px;
    margin: 20px 0px 0px 50px;
}
.section p.link {
	font-size: 0.78em;
}
.section p.link a {
	color: #3FA4E6;
}
.section p.link a:hover {
	color: #2c709c;
	text-decoration: none;
}

.white {
    color: #606060;
    background: #fff;
}

.section ul{
    list-style: none;
    margin: 20px 0px 0px 450px;
}
.white ul li{
    float: left;
    padding: 5px;
    margin: 5px;
    color: #000089;
	font-size: 1.2em;
}
.white ul li a{
    display: block;
    color:#777 ;
} 
.white ul li a:hover{
    text-decoration: none;
    color: #000;
}

